<%- include("../common/header.ejs") %>
        <div class="bookshelf_wrap">
            <div class="bookshelf_header">
                <input type="hidden" name="shelf_code" value="<%=shelf_code%>">
                <span class="shelf_name" onclick="common.reload();"></span>
                <span class="shelf" onclick="common.bookshelfclass();">책꽂이 선택 <i class="fas fa-chevron-right"></i></span>
            </div>
            <!-- <div class="bookshelf_content">
                <ul class="bookshelf_menu1">
                    <li class="menu active">
                        <span class="menu_title">읽어야 할 책</span>
                    </li>
                    <li class="menu">
                        <span class="menu_title">읽고 있는 책</span>
                    </li>
                    <li class="menu">
                        <span class="menu_title">모두 읽은 책</span>
                    </li>
                </ul>
            </div>
            <div class="bookshelf_content">
                <ul class="bookshelf_menu2">
                    <li class="menu">
                        <span class="menu_title active">읽어야 할 책</span>
                    </li>
                    <li class="menu">
                        <span class="menu_title">읽고 있는 책</span>
                    </li>
                    <li class="menu">
                        <span class="menu_title">모두 읽은 책</span>
                    </li>
                </ul>
            </div> -->
            <div class="bookshelf_content">
                <div class="bookshelf_menu_group">
                    <ul class="bookshelf_menu">
                        <li class="menu">
                            <span class="menu_title active" data-status="all">전체</span>
                        </li>
                        <li class="menu">
                            <span class="menu_title" data-status="ready">읽어야 할 책</span>
                        </li>
                        <li class="menu">
                            <span class="menu_title" data-status="read">읽고 있는 책</span>
                        </li>
                        <li class="menu">
                            <span class="menu_title" data-status="complete">읽은 책</span>
                        </li>
                    </ul>
                </div>
                <ul class="shelf_list">
                    <li class="book_info">
                        <div class="book_image">
                            <img src="https://search1.kakaocdn.net/thumb/R120x174.q85/?fname=http%3A%2F%2Ft1.daumcdn.net%2Flbook%2Fimage%2F1555251%3Ftimestamp%3D20210429145646" alt="">
                        </div>
                        <div class="book_subinfo">
                            <div class="book_title">바이러스 쇼크(2판)</div>
                            <div class="book_isbn">ISBN : <span>9791155424353</span></div>
                            <div class="book_author">저자 : <span>최강석</span></div>
                            <div class="book_translator">번역 : <span></span></div>
                            <div class="book_publisher">출판 : <span>매일경제신문사</span></div>
                            <div class="book_regdate">2020-03-01</div>
                            <div class="book_link"><a href="https://search.daum.net/search?w=bookpage&amp;bookId=1555251&amp;q=%EB%B0%94%EC%9D%B4%EB%9F%AC%EC%8A%A4+%EC%87%BC%ED%81%AC%282%ED%8C%90%29" target="_blank">Daum 책 소개</a></div>
                            <div class="book_button">
                                <button class="add_book" data-isbn13="9791155424353">내 책장에 담기 +</button>
                            </div>
                        </div>
                    </li>
                    <li class="book_info">
                        <div class="book_image">
                            <img src="https://search1.kakaocdn.net/thumb/R120x174.q85/?fname=http%3A%2F%2Ft1.daumcdn.net%2Flbook%2Fimage%2F1555251%3Ftimestamp%3D20210429145646" alt="">
                        </div>
                        <div class="book_subinfo">
                            <div class="book_title">바이러스 쇼크(2판)</div>
                            <div class="book_isbn">ISBN : <span>9791155424353</span></div>
                            <div class="book_author">저자 : <span>최강석</span></div>
                            <div class="book_translator">번역 : <span></span></div>
                            <div class="book_publisher">출판 : <span>매일경제신문사</span></div>
                            <div class="book_regdate">2020-03-01</div>
                            <div class="book_link"><a href="https://search.daum.net/search?w=bookpage&amp;bookId=1555251&amp;q=%EB%B0%94%EC%9D%B4%EB%9F%AC%EC%8A%A4+%EC%87%BC%ED%81%AC%282%ED%8C%90%29" target="_blank">Daum 책 소개</a></div>
                            <div class="book_button">
                                <button class="add_book" data-isbn13="9791155424353">내 책장에 담기 +</button>
                            </div>
                        </div>
                    </li>
                    <li class="book_info">
                        <div class="book_image">
                            <img src="https://search1.kakaocdn.net/thumb/R120x174.q85/?fname=http%3A%2F%2Ft1.daumcdn.net%2Flbook%2Fimage%2F1555251%3Ftimestamp%3D20210429145646" alt="">
                        </div>
                        <div class="book_subinfo">
                            <div class="book_title">바이러스 쇼크(2판)</div>
                            <div class="book_isbn">ISBN : <span>9791155424353</span></div>
                            <div class="book_author">저자 : <span>최강석</span></div>
                            <div class="book_translator">번역 : <span></span></div>
                            <div class="book_publisher">출판 : <span>매일경제신문사</span></div>
                            <div class="book_regdate">2020-03-01</div>
                            <div class="book_link"><a href="https://search.daum.net/search?w=bookpage&amp;bookId=1555251&amp;q=%EB%B0%94%EC%9D%B4%EB%9F%AC%EC%8A%A4+%EC%87%BC%ED%81%AC%282%ED%8C%90%29" target="_blank">Daum 책 소개</a></div>
                            <div class="book_button">
                                <button class="add_book" data-isbn13="9791155424353">내 책장에 담기 +</button>
                            </div>
                        </div>
                    </li>
                    <li class="book_info">
                        <div class="book_image">
                            <img src="https://search1.kakaocdn.net/thumb/R120x174.q85/?fname=http%3A%2F%2Ft1.daumcdn.net%2Flbook%2Fimage%2F1555251%3Ftimestamp%3D20210429145646" alt="">
                        </div>
                        <div class="book_subinfo">
                            <div class="book_title">바이러스 쇼크(2판)</div>
                            <div class="book_isbn">ISBN : <span>9791155424353</span></div>
                            <div class="book_author">저자 : <span>최강석</span></div>
                            <div class="book_translator">번역 : <span></span></div>
                            <div class="book_publisher">출판 : <span>매일경제신문사</span></div>
                            <div class="book_regdate">2020-03-01</div>
                            <div class="book_link"><a href="https://search.daum.net/search?w=bookpage&amp;bookId=1555251&amp;q=%EB%B0%94%EC%9D%B4%EB%9F%AC%EC%8A%A4+%EC%87%BC%ED%81%AC%282%ED%8C%90%29" target="_blank">Daum 책 소개</a></div>
                            <div class="book_button">
                                <button class="add_book" data-isbn13="9791155424353">내 책장에 담기 +</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <script src="/js/bookshelf.js"></script>
<%- include("../common/footer.ejs") %>
