<%- include("../common/header.ejs") %>
        <script src="/static/js/hangul.min.js"></script>
        <div class="bookshelf_wrap">
            <div class="bookshelf_content">
                <div class="shelfclass_search">
                    <span>책꽂이 </span>
                    <div class="shelfclass_search_select">
                        <select name="shelfclass_name">
                        </select>
                    </div>
                </div>
                <div class="bookshelf_search">
                    <span>책검색</span>
                    <div class="bookshelf_search_input">
                        <input type="text" name="bookshelf_keyword" value="" placeholder="책 제목으로 찾아보세요.">
                    </div>
                    <button type="button" class="remove_keyword"></button>
                </div>
                <ul class="shelf_list">
                    <!-- <li class="book_info">
                        <div class="book_image">
                            <img src="https://search1.kakaocdn.net/thumb/R120x174.q85/?fname=http%3A%2F%2Ft1.daumcdn.net%2Flbook%2Fimage%2F1555251%3Ftimestamp%3D20210429145646" alt="">
                        </div>
                        <div class="book_subinfo">
                            <div class="book_title">바이러스 쇼크(2판)</div>
                            <div class="book_isbn">ISBN : <span>9791155424353</span></div>
                            <div class="book_author">저자 : <span>최강석</span></div>
                            <div class="book_translator">번역 : <span></span></div>
                            <div class="book_publisher">출판 : <span>매일경제신문사</span></div>
                            <div class="book_regdate">2020-03-01</div>
                            <div class="book_link"><a href="https://search.daum.net/search?w=bookpage&amp;bookId=1555251&amp;q=%EB%B0%94%EC%9D%B4%EB%9F%AC%EC%8A%A4+%EC%87%BC%ED%81%AC%282%ED%8C%90%29" target="_blank">Daum 책 소개</a></div>
                            <div class="book_button">
                                <button class="add_book" data-isbn13="9791155424353">내 책장에 담기 +</button>
                            </div>
                        </div>
                    </li -->
                </ul>
            </div>
        </div>
        <section class="layer_modal">
            <div class="moveshelf_wrap animate"><!-- 책꽂이 이동 -->
                <form action="/user/modify_profile" method="post" id="moveshelf_form" onsubmit="return false;">
                    <div class="moveshelf_form">
                        <span class="close">×</span>
                        <div class="moveshelf_title">
                            <span>책꽂이 보기</span>
                        </div>
                        <div class="moveshelf_button">
                            <button type="button" class="moveshelfbtn">기타</button>
                        </div>
                        <div class="moveshelf_button">
                            <button type="button" class="moveshelfbtn">동화책</button>
                        </div>
                        <div class="moveshelf_button">
                            <button type="button" class="moveshelfbtn">초5 필독도서</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="changeshelf_wrap animate"><!-- 책꽂이 선택 -->
                <form action="/user/modify_profile" method="post" id="changeshelf_form" onsubmit="return false;">
                    <div class="changeshelf_form">
                        <span class="close">×</span>
                        <div class="changeshelf_title">
                            <span>책꽂이 선택</span>
                        </div>
                        <div class="changeshelf_button">
                            <button type="button" class="changeshelfbtn">기타</button>
                        </div>
                        <div class="changeshelf_button">
                            <button type="button" class="changeshelfbtn">동화책</button>
                        </div>
                        <div class="changeshelf_button">
                            <button type="button" class="changeshelfbtn">초5 필독도서</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="changestatus_wrap animate"><!-- 책 읽은 상태 선택 -->
                <form action="/user/modify_profile" method="post" id="changestatus_form" onsubmit="return false;">
                    <div class="changestatus_form">
                        <span class="close">×</span>
                        <div class="changestatus_title">
                            <span>책 읽은 상태 선택</span>
                        </div>
                        <div class="changestatus_button">
                            <button type="button" class="changestatusbtn">읽고 싶은 책</button>
                        </div>
                        <div class="changestatus_button">
                            <button type="button" class="changestatusbtn">읽고 있는 책</button>
                        </div>
                        <div class="changestatus_button">
                            <button type="button" class="changestatusbtn">모두 읽은 책</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <script src="/js/bookshelf.js"></script>
<%- include("../common/footer.ejs") %>
