<%- include("../common/header.ejs") %>
        <link rel="stylesheet" href="/css/myshelf.css">
        <div class="header center">
            <button class="menu" onclick="common.lnb();">
                <span></span>
            </button>
            <div class="logo">
                <span class="title">내 책꽂이</span>
            </div>
        </div>
        <div class="myshelf_wrap">
            <div class="myshelf_header">
                <div class="myshelf_season">
                    <select name="season" id="season">
<%
season_info.forEach(function(v, k) {
%>
                        <option value="<%=v.val%>"><%=v.kr%></option>
<%
});
%>
                    </select>
                    <span class="point"></span>
                </div>
            </div>
            <div class="myshelf_content">
                <div class="myshelf_menu_group">
                    <ul class="myshelf_menu">
                        <li class="menu">
                            <span class="menu_title" data-status="all">전체 <span class="txt_all"></span></span>
                        </li>
                        <li class="menu">
                            <span class="menu_title" data-status="ready">읽지 않은 책 <span class="txt_ready"></span></span>
                        </li>
                        <li class="menu">
                            <span class="menu_title" data-status="start">읽고 있는 책 <span class="txt_start"></span></span>
                        </li>
                        <li class="menu">
                            <span class="menu_title" data-status="complete">모두 읽은 책 <span class="txt_complete"></span></span>
                        </li>
                    </ul>
                </div>
                <ul class="myshelf_list"></ul>
            </div>
        </div>
        <section class="layer_modal">
            <div class="myshelf_mod_wrap animate"><!-- 책 상세 및 상태 수정하기 -->
                <form action="/myshelf/info" method="post" id="myshelf_mod_form" enctype="multipart/form-data" onsubmit="return false;">
                    <input type="hidden" name="isbn13" value="">
                    <div class="myshelf_mod_form">
                        <span class="close">×</span>
                        <div class="myshelf_mod_title">
                            <span>책 자세히 보기</span>
                        </div>
                        <div class="myshelf_mod_info">
                        </div>
                        <div class="myshelf_mod_status">
                            <select name="code" id="">
                                <option value="ready">"읽지 않은 책"으로 상태 바꾸기</option>
                                <option value="start">"읽고 있는 책"으로 상태 바꾸기</option>
                            </select>
                        </div>
                        <div class="myshelf_mod_button">
                            <button type="button" class="myshelf_mod_btn">책 상태 수정하기</button>
                        </div>
                        <div class="member_del_button">
                            <button type="button" class="myshelf_del_btn">내 책꽂이에서 삭제하기</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <script src="/js/myshelf.js"></script>
<%- include("../common/footer.ejs") %>
