<%- include("../common/header.ejs") %>
        <div class="myshelf_wrap">
            <div class="myshelf_header">
                <span class="point"><%=user.user_point%> 포인트</span>
            </div>
            <div class="myshelf_content">
                <div class="myshelf_menu_group">
                    <ul class="myshelf_menu">
                        <li class="menu">
                            <span class="menu_title active" data-status="all">전체</span>
                        </li>
                        <li class="menu">
                            <span class="menu_title" data-status="ready">읽지 않은 책</span>
                        </li>
                        <li class="menu">
                            <span class="menu_title" data-status="start">읽고 있는 책</span>
                        </li>
                        <li class="menu">
                            <span class="menu_title" data-status="complete">모두 읽은 책</span>
                        </li>
                    </ul>
                </div>
                <ul class="myshelf_list"></ul>
            </div>
        </div>
        <script src="/js/myshelf.js"></script>
<%- include("../common/footer.ejs") %>
