<%- include("../common/header.ejs") %>
        <div class="bookshelf_wrap">
            <div class="bookshelf_header">
                <span class="shelf_name" onclick="Bookshelf.shelf_modal();"></span>
                <span class="shelf">1902 포인트</span>
            </div>
            <div class="bookshelf_content">
                <div class="bookshelf_menu_group">
                    <ul class="bookshelf_menu">
                        <li class="menu">
                            <span class="menu_title active" data-status="all">전체</span>
                        </li>
                        <li class="menu">
                            <span class="menu_title" data-status="read">읽고 있는 책</span>
                        </li>
                        <li class="menu">
                            <span class="menu_title" data-status="complete">모두 읽은 책</span>
                        </li>
                    </ul>
                </div>
                <ul class="kid_shelf_list">
                    <li class="book_info">
                        <div class="book_image">
                            <img src="https://search1.kakaocdn.net/thumb/R120x174.q85/?fname=http%3A%2F%2Ft1.daumcdn.net%2Flbook%2Fimage%2F1555251%3Ftimestamp%3D20210429145646" alt="">
                        </div>
                        <div class="book_subinfo">
                            <div class="book_title">바이러스 쇼크(2판)</div>
                            <div class="book_isbn">ISBN : <span>9791155424353</span></div>
                            <div class="book_author">저자 : <span>최강석</span></div>
                            <div class="book_translator">번역 : <span></span></div>
                            <div class="book_publisher">출판 : <span>매일경제신문사</span></div>
                            <div class="book_regdate">2020-03-01</div>
                            <div class="book_link"><a href="https://search.daum.net/search?w=bookpage&amp;bookId=1555251&amp;q=%EB%B0%94%EC%9D%B4%EB%9F%AC%EC%8A%A4+%EC%87%BC%ED%81%AC%282%ED%8C%90%29" target="_blank">Daum 책 소개</a></div>
                            <div class="book_button">
                                <button class="add_book" data-isbn13="9791155424353"></button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <section class="layer_modal">
            <div class="changestatus_wrap animate"><!-- 책 읽은 상태 선택 -->
                <form action="/user/modify_profile" method="post" id="changestatus_form" onsubmit="return false;">
                    <div class="changestatus_form">
                        <span class="close">×</span>
                        <div class="changestatus_title">
                            <span>책 읽은 상태 선택</span>
                        </div>
                        <div class="changestatus_button">
                            <button type="button" class="changestatusbtn">읽고 있는 책</button>
                        </div>
                        <div class="changestatus_button">
                            <button type="button" class="changestatusbtn">모두 읽은 책</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <script src="/js/kid_bookshelf.js"></script>
<%- include("../common/footer.ejs") %>
