<%- include("../common/header.ejs") %>
        <div class="myshelf_wrap">
            <div class="myshelf_header">
                <span class="point"></span>
            </div>
            <div class="myshelf_content">
                <div class="myshelf_menu_group">
                    <ul class="myshelf_menu">
                        <li class="menu">
                            <span class="menu_title" data-status="all">전체 <span class="txt_all"></span></span>
                        </li>
                        <li class="menu">
                            <span class="menu_title" data-status="ready">읽지 않은 책 <span class="txt_ready"></span></span>
                        </li>
                        <li class="menu">
                            <span class="menu_title" data-status="start">읽고 있는 책 <span class="txt_start"></span></span>
                        </li>
                        <li class="menu">
                            <span class="menu_title" data-status="complete">모두 읽은 책 <span class="txt_complete"></span></span>
                        </li>
                    </ul>
                </div>
                <ul class="kid_myshelf_list"></ul>
            </div>
        </div>
        <script src="/js/kid_myshelf.js"></script>
<%- include("../common/footer.ejs") %>
