<% if(path != '/login') { %>
        <!-- <div class="footer">
            <div class="info">수북이 쌓이는 책.</div>
            <div class="footer_home" onclick="common.home();">
                <i class="fas fa-home"></i>홈
            </div>
            <div class="footer_recommend" onclick="common.recommend();">
                <i class="far fa-comment-alt"></i>책 추천
            </div>
            <div class="footer_bookshelf" onclick="common.bookshelf();">
                <i class="fas fa-book"></i>가족책장
            </div>
            <div class="footer_myshelf" onclick="common.myshelf();">
                <i class="far fa-square"></i>내 책꽂이
            </div>
            <div class="footer_user" onclick="common.info();">
                <i class="fas fa-user"></i>내 정보
            </div>
        </div> -->
<% } %>
    </div>
    <section class="modal"><!-- 전체 모달창 -->
        <div class="book_search_modal animate"><!-- 책 검색 -->
            <div class="book_search">
                <span class="close"><i class="fas fa-chevron-left"></i></span>
                <form action="/search" id="search_book_form" method="post" onsubmit="Bookshelf.booksearch(); return false;">
                    <div class="book_search_input">
                        <input type="text" name="keyword" value="" onkeyup="Bookshelf.booksearchtext();" placeholder="책 제목이나 ISBN 을 입력하세요.">
                    </div>
                    <button type="button" class="search_book" onclick="Bookshelf.booksearch();"></button>
                    <button type="button" class="remove_keyword" onclick="Bookshelf.deletebooksearchtext();"></button>
                </form>
            </div>
            <div class="book_search_content">
                <div class="book_search_nodata">
                    <span class="nodata">!</span>
                    <span class="nodata_txt">검색결과가 없습니다.</span>
                </div>
                <ul class="book_search_list"></ul>
            </div>
        </div>
        <!-- <div class="book_recommend_modal animate">
            <div class="book_recommend">
                <span class="close" onclick="common.lnbsearchclose();"><i class="fas fa-chevron-left"></i></span>
                <form action="/recommend" id="search_book_form" method="post" onsubmit="Commonjs.booksearch(); return false;">
                    <div class="book_hashtag_input">
                        <input type="text" name="hashtag" value="" placeholder="해시태그를 입력하세요.">
                    </div>
                    <div class="book_usercode_input">
                        <input type="text" name="usercode" value="" placeholder="회원 코드를 입력하세요.">
                    </div>
                    <button type="button" class="search_book" onclick="javascript:;"></button>
                    <button type="button" class="remove_keyword" onclick="javascript:;"></button>
                </form>
            </div>
            <div class="book_recommend_content">
                <div class="book_recommend_nodata">
                    <span class="nodata">!</span>
                    <span class="nodata_txt">검색결과가 없습니다.</span>
                </div>
                <ul class="book_recommend_list"></ul>
            </div>
        </div> -->
    </section>
    <div class="gotop" onclick="common.gotop();"><i class="fas fa-arrow-up"></i></div>
