    <link rel="stylesheet" href="/css/footer.css">
    <div class="footer">
        <div class="footer_home" id="footer_home">
            <i class="fas fa-home"></i>
        </div>
        <div class="footer_bookshelf" id="footer_bookshelf">
            <i class="fas fa-book"></i>
        </div>
        <div class="footer_bookshelf" id="footer_bookshelf">
            <i class="fas fa-microphone"></i>
        </div>
        <div class="footer_user" id="footer_user">
            <i class="fas fa-user"></i>
        </div>
    </div>
    <script>
        function Footer(user) {
            init();
            function init() {
                go();
            }
            function go() {
                document.querySelector('#footer_home').addEventListener('click', function() {
                    setTimeout(function() {
                        window.location.href = '/';
                    }, 200);
                });
                document.querySelector('#footer_bookshelf').addEventListener('click', function() {
                    setTimeout(function() {
                        window.location.href = '/bookshelf';
                    }, 200);
                });
                document.querySelector('#footer_user').addEventListener('click', function() {
                    setTimeout(function() {
                        window.location.href = (user) ? '/user/info' : '/login';
                    }, 200);
                });
            }
        }
        new Footer(<%=(user)?true:false%>);
    </script>
</div>
