<% if(path != '/member') { %>
        <div class="footer">
            <div class="footer_home" onclick="common.home();">
                <i class="fas fa-home"></i>
            </div>
            <div class="footer_bookshelf" onclick="common.bookshelf();">
                <i class="fas fa-book"></i>
            </div>
            <div class="footer_myshelf" onclick="common.myshelf();">
                <i class="far fa-square"></i>
            </div>
            <div class="footer_user" onclick="common.info();">
                <i class="fas fa-user"></i>
            </div>
        </div>
<% } %>
    </div>
    <section class="modal">
        <div class="book_search_modal animate"><!-- 책 검색 -->
            <div class="book_search">
                <span class="close" onclick="common.lnbsearchclose();"><i class="fas fa-chevron-left"></i></span>
                <form action="/search" id="search_book_form" method="post" onsubmit="common.booksearch(); return false;">
                    <div class="book_search_input">
                        <input type="text" name="keyword" value="" placeholder="책 제목이나 ISBN 을 입력하세요.">
                    </div>
                    <button type="button" id="search_book" onclick="common.booksearch();"></button>
                </form>
            </div>
            <div class="book_search_content">
                <div class="book_search_nodata">
                    <span class="nodata">!</span>
                    <span class="nodata_txt">검색결과가 없습니다.</span>
                </div>
                <ul class="book_search_list"></ul>
            </div>
        </div>
    </section>
    <div class="gotop" onclick="common.gotop();"><i class="fas fa-arrow-up"></i></div>
