<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>수북이 쌓이는 책</title>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <link rel="stylesheet" href="/css/common.css">
    <script src="/js/common.js"></script>
</head>
<body>
    <div class="wrap">
        <div class="dimmed"></div>
        <nav id="nav">
            <div class="nav_header">
                <div class="nav_title">
                    <div class="nav_login" onclick="<%=(user)?'common.info();':'common.login();'%>"><%=(user)?user.user_name+'님':'로그인 해주세요.'%></div>
                    <div class="close" onclick="common.lnbclose();">
                        <span></span>
                    </div>
                </div>
            </div>
<%
if(user) {
    if(user.user_idx == user.parent_user_idx) {
%>
            <div class="nav_sub">
                <ul class="menu_list">
                    <li class="menu_list_item">
                        <div class="submenu_title lnk" onclick="common.home();"><i class="fas fa-home"></i> 처음으로</div>
                    </li>
                    <li class="menu_list_item">
                        <div class="submenu_title lnk" onclick="common.bookshelf();"><i class="fas fa-book"></i> 가족 책장</div>
                    </li>
                    <li class="menu_list_item">
                        <div class="submenu_title lnk" onclick="common.myshelf();"><i class="far fa-square"></i> 내 책꽂이</div>
                    </li>
                    <li class="menu_list_item">
                        <div class="submenu_title lnk" onclick="common.bookstamp();"><i class="fas fa-stamp"></i> 스탬프 찍어주기</div>
                    </li>
                    <li class="menu_list_item">
                        <div class="submenu_title lnk" onclick="common.recommend();"><i class="fas fa-search"></i> 추천도서</div>
                    </li>
                    <li class="menu_list_item">
                        <div class="submenu_title lnk" onclick="common.info();"><i class="fas fa-user"></i> 내정보</div>
                    </li>
                </ul>
            </div>
<%
    } else {
%>
            <div class="nav_sub">
                <ul class="menu_list">
                    <li class="menu_list_item">
                        <div class="submenu_title lnk" onclick="common.golnbsearch();"><i class="fas fa-search"></i> 책 검색하기</div>
                    </li>
                    <li class="menu_list_item">
                        <div class="submenu_title lnk" onclick="common.bookshelf();"><i class="fas fa-book"></i> 우리 가족 책장</div>
                    </li>
                    <li class="menu_list_item">
                        <div class="submenu_title lnk" onclick="common.myshelf();"><i class="far fa-square"></i> 내 책꽂이</div>
                    </li>
                    <li class="menu_list_item">
                        <div class="submenu_title lnk" onclick="common.kidbadge();"><i class="far fa-id-badge"></i> 내 뱃지</div>
                    </li>
                    <li class="menu_list_item">
                        <div class="submenu_title lnk" onclick="common.kidpoint();"><i class="fas fa-coins"></i> 내 포인트</div>
                    </li>
                </ul>
            </div>
<%
    }
}
%>
        </nav>
