<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>수북이 쌓이는 책</title>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <link rel="stylesheet" href="/css/common.css">
<%
    let title = '<a href="/"><h3>수북이 쌓이는 책</h3></a>';
    let hide = false;
    switch(path) {
        case "/":
        %> <link rel="stylesheet" href="/css/index.css"> <%
        break;
        case "/choose":
            hide = true;
        %> <link rel="stylesheet" href="/css/choose.css"> <%
        break;
        case "/login":
        %> <link rel="stylesheet" href="/css/login.css"> <%
        break;
        case "/user/info":
            hide = true;
        %> <link rel="stylesheet" href="/css/userinfo.css"> <%
        break;
        case "/user/signout":
            hide = true;
        %> <link rel="stylesheet" href="/css/usersignout.css"> <%
        break;
        case "/bookshelf":
            title = '<h3>내 책장</h3>';
        %> <link rel="stylesheet" href="/css/bookshelf.css"> <%
        break;
        case "/user/manage":
            hide = true;
            title = '<h3>우리 아이 관리</h3>';
        %> <link rel="stylesheet" href="/css/usermanage.css"> <%
        break;
        default:
        %><%
        break;
    }
%>
    <script src="/js/common.js"></script>
</head>
<body>
    <div class="wrap">
        <div class="dimmed"></div>
        <div class="header<%=(hide)?' hide':''%>">
            <button class="menu" onclick="common.lnb();">☰</button>
            <div class="logo">
                <%-title%>
            </div>
            <button class="search" onclick="common.lnbsearch();"></button>
        </div>
        <nav id="nav">
            <div class="nav_header">
                <div class="nav_title">
                    <div class="nav_login" onclick="<%=(user)?'common.info();':'common.login();'%>"><%=(user)?user.user_name+'님':'로그인 해주세요.'%></div>
                    <div class="close" onclick="common.lnbclose();">&times;</div>
                </div>
            </div>
            <div class="nav_sub">
                <ul class="menu_list">
                    <li class="menu_list_item">
                        <div class="submenu_title lnk" onclick="common.golnbsearch();"><i class="fas fa-search"></i> 책 검색하기</div>
                    </li>
                    <li class="menu_list_item">
                        <div class="submenu_title lnk" onclick="common.golnbsearch();"><i class="fas fa-search"></i> 책꽂이 검색하기</div>
                    </li>
                    <li class="menu_list_item">
                        <div class="submenu_title lnk" onclick="common.bookshelf();"><i class="fas fa-book"></i> 내 책장</div>
                        <!-- <div class="submenu">
                            <ul class="submenu_list">
                                <li>
                                    <a href="/bookshelf/list">내가 보는 책</a>
                                </li>
                                <li>
                                    <a href="/bookshelf/read"> 책</a>
                                </li>
                                <li>
                                    <a href="/bookshelf/end">모두 읽은 책</a>
                                </li>
                                <li></li>
                            </ul>
                        </div> -->
                    </li>
                    <li class="menu_list_item">
                        <div class="submenu_title lnk" onclick="common.bookshelf();"><i class="far fa-square"></i> 내 책꽂이</div>
                    </li>
                    <li class="menu_list_item">
                        <div class="submenu_title"><i class="fas fa-envelope"></i> 책 편지함</div>
                        <div class="submenu">
                            <ul class="submenu_list">
                                <li>
                                    <a href="/bookletter/send">보낸 책 편지</a>
                                </li>
                                <li>
                                    <a href="/bookletter/receive">받은 책 편지</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- <li class="menu_list_item">
                        <div class="submenu_title"><i class="fas fa-users"></i> 우리 아이 정보</div>
                        <div class="submenu">
                            <ul class="submenu_list">
                                <li>
                                    <a href="/children/book">보고 있는 책</a>
                                </li>
                                <li>
                                    <a href="/children/badge">우리 아이 뱃지</a>
                                </li>
                            </ul>
                        </div>
                    </li> -->
                    <!-- <li class="menu_list_item">
                        <div class="submenu_title"><i class="fas fa-headphones-alt"></i> 소리 동화</div>
                        <div class="submenu">
                            <ul class="submenu_list">
                                <li>
                                    <a href="/booksound/list">듣지 않은 동화</a>
                                </li>
                                <li>
                                    <a href="/booksound/hear">듣고 있는 동화</a>
                                </li>
                                <li>
                                    <a href="/booksound/end">모두 들은 동화</a>
                                </li>
                                <li></li>
                            </ul>
                        </div>
                    </li>
                    <li class="menu_list_item">
                        <div class="submenu_title lnk" onclick="common.author();"><i class="fas fa-microphone-alt"></i> 소리 동화 작가</div>
                    </li> -->
                    <!-- <li class="menu_list_item">
                        <div class="submenu_title lnk" onclick="common.guide();"><i class="fas fa-question-circle"></i> 이용안내</div>
                    </li> -->
                </ul>
            </div>
        </nav>
