.bookshelf_wrap {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 100%;
}
.bookshelf_wrap .bookshelf_header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    border-bottom: 1px solid #ededed;
    border-top: 5px solid #f9f9f9;
    position: relative;
}
.bookshelf_wrap .bookshelf_header .shelf_name {
    margin-left: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    height: 45px;
    line-height: 45px;
    /* width: calc(100% - 110px); */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.bookshelf_wrap .bookshelf_header .shelf_name i {
    font-size: 14px;
    margin-left: 3px;
}
.bookshelf_wrap .bookshelf_header .shelf {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 13px;
    font-weight: 400;
    z-index: 1;
    background-color: #fff;
    height: 44px;
    display: flex;
    align-items: center;
    padding: 5px 20px 5px 0px;
    cursor: pointer;
}
.bookshelf_wrap .bookshelf_header .shelf i {
    margin-left: 5px;
    font-size: 10px;
}
.bookshelf_wrap .bookshelf_content {
    /* border-top: 5px solid #f9f9f9; */
}
/* .bookshelf_wrap .bookshelf_content .bookshelf_menu1 {
    display: flex;
    align-items: center;
}
.bookshelf_wrap .bookshelf_content .bookshelf_menu1 .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
    width: 33.33%;
    cursor: pointer;
}
.bookshelf_wrap .bookshelf_content .bookshelf_menu1 .menu:last-child {
    border-right: 0px;
}
.bookshelf_wrap .bookshelf_content .bookshelf_menu1 .menu .menu_title {
    font-size: 15px;
    cursor: pointer;
}
.bookshelf_wrap .bookshelf_content .bookshelf_menu1 .menu.active {
    background-color: #f9f9f9;
}
.bookshelf_wrap .bookshelf_content .bookshelf_menu2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.bookshelf_wrap .bookshelf_content .bookshelf_menu2 .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}
.bookshelf_wrap .bookshelf_content .bookshelf_menu2 .menu .menu_title {
    border: 1px solid #109072;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 12px;
    cursor: pointer;
}
.bookshelf_wrap .bookshelf_content .bookshelf_menu2 .menu .menu_title.active {
    background-color: #109072;
    color: #fff;
} */

.bookshelf_wrap .bookshelf_content .bookshelf_search {
    padding: 7px 0 7px 85px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #ededed;
    border-top: 5px solid #f9f9f9;
}
.bookshelf_wrap .bookshelf_content .bookshelf_search span {
    position: absolute;
    left: 0;
    top: 0px;
    width: 90px;
    height: 50px;
    right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bookshelf_wrap .bookshelf_content .bookshelf_search .book_search_input {
    width: calc(100% - 15px);
}
.bookshelf_wrap .bookshelf_content .bookshelf_search .book_search_input input {
    padding: 0 60px 0 10px;
    width: 100%;
    height: 40px;
    background-color: #f8f8f8;
    color: #767676;
    border: none;
    font-size: 1rem;
    outline: 0;
}
.bookshelf_wrap .bookshelf_content .bookshelf_search .remove_keyword  {
    display: none;
    position: absolute;
    top: 12px;
    right: 20px;
    width: 30px;
    height: 30px;
    background: url('/images/ico_search_clear.png') no-repeat;
    background-size: 20px;
    background-position: center;
    vertical-align: middle; 
    border: none;
    font-size: 1rem;
}







/* .bookshelf_wrap .bookshelf_content .bookshelf_menu_group {
    position: relative;
    margin-top: -1px;
    border-width: 1px 0;
    letter-spacing: -.3px;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-bottom: 1px solid #ededed;
}
.bookshelf_wrap .bookshelf_content .bookshelf_menu_group::-webkit-scrollbar {
    display: none;
}
.bookshelf_wrap .bookshelf_content .bookshelf_menu_group .bookshelf_menu {
    padding: 5px 0;
}
.bookshelf_wrap .bookshelf_content .bookshelf_menu_group .bookshelf_menu .menu {
    display: inline-block;
    font-size: 14px;
    text-align: center;
    margin: 5px 0;
    line-height: 35px;
}
.bookshelf_wrap .bookshelf_content .bookshelf_menu_group .bookshelf_menu .menu:first-child {
    margin-left: 15px;
}
.bookshelf_wrap .bookshelf_content .bookshelf_menu_group .bookshelf_menu .menu:last-child {
    margin-right: 15px;
}
.bookshelf_wrap .bookshelf_content .bookshelf_menu_group .bookshelf_menu .menu .menu_title {
    border: 1px solid #109072;
    color: #109072;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.bookshelf_wrap .bookshelf_content .bookshelf_menu_group .bookshelf_menu .menu .menu_title.active {
    background-color: #109072;
    color: #fff;
} */
.bookshelf_wrap .bookshelf_content .shelf_list {
    /* border-top: 5px solid #f9f9f9; */
}
.bookshelf_wrap .bookshelf_content .shelf_list .book_info {
    display: flex;
    align-items: center;
    padding: 15px;
    border-top: 3px solid #f9f9f9;
    border-bottom: 1px solid #eee;
}
.bookshelf_wrap .bookshelf_content .shelf_list .book_info:first-child {
    border-top: 0px;
}
.bookshelf_wrap .bookshelf_content .shelf_list .book_info .book_image {
    width: 75px;
}
.bookshelf_wrap .bookshelf_content .shelf_list .book_info .book_image img {
    width: 100%;
    border: 1px solid #ededed;
}
.bookshelf_wrap .bookshelf_content .shelf_list .book_info .book_image .book_icon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bookshelf_wrap .bookshelf_content .shelf_list .book_info .book_image .book_icon a {
    font-size: 14px;
    color: #109072;
    /* border: 1px solid #109072; */
    padding: 3px 5px;
    margin-top: 5px;
}
.bookshelf_wrap .bookshelf_content .shelf_list .book_info .book_image .book_icon button {
    background-color: #fff;
    font-size: 22px;
}
.bookshelf_wrap .bookshelf_content .shelf_list .book_info .book_image .book_icon button i {
    color: #109072;
}
.bookshelf_wrap .bookshelf_content .shelf_list .book_info .book_subinfo {
    padding: 0 0 0 15px;
    width: calc(100% - 75px);
}
.bookshelf_wrap .bookshelf_content .shelf_list .book_info .book_subinfo .book_status {
    margin-bottom: 15px;
}
.bookshelf_wrap .bookshelf_content .shelf_list .book_info .book_subinfo .book_status span {
    padding: 3px 5px;
    background-color: #109072;
    color: #fff;
    border-radius: 3px;
    font-size: 12px;
    margin-right: 3px;
}
.bookshelf_wrap .bookshelf_content .shelf_list .book_info .book_subinfo .book_title {
    font-size: 1rem;
    margin-bottom: 8px;
    font-weight: bold;
    letter-spacing: -1px;
}
.bookshelf_wrap .bookshelf_content .shelf_list .book_info .book_subinfo .book_title i {
    margin-right: 3px;
    color: #109072;
}
.bookshelf_wrap .bookshelf_content .shelf_list .book_info .book_subinfo .book_author,
.bookshelf_wrap .bookshelf_content .shelf_list .book_info .book_subinfo .book_publisher {
    font-size: 12px;
    color: #999;
    font-weight: 400;
    padding: 2px;
}
.bookshelf_wrap .bookshelf_content .shelf_list .book_info .book_subinfo .book_translator,
.bookshelf_wrap .bookshelf_content .shelf_list .book_info .book_subinfo .book_isbn,
.bookshelf_wrap .bookshelf_content .shelf_list .book_info .book_subinfo .book_regdate,
.bookshelf_wrap .bookshelf_content .shelf_list .book_info .book_subinfo .book_link {
    display: none;
}
.bookshelf_wrap .bookshelf_content .shelf_list .book_info .book_subinfo .book_button {
    margin: 10px 0 0 0;
    display: flex;
    justify-content: flex-end;
}
.bookshelf_wrap .bookshelf_content .shelf_list .book_info .book_subinfo .book_button button {
    /* border: 1px solid #109072; */
    padding: 5px 10px;
    margin-right: 8px;
    background-color: #fff;
    color: #109072;
    font-size: 15px;
}





/* .moveshelf_wrap {
    display: none;
    width: 90%;
    max-width: 350px;
    background-color: #fff;
    border: 1px solid #888;
    margin: 0 auto;
}
.moveshelf_wrap .moveshelf_form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.moveshelf_wrap .moveshelf_form .close {
    position: absolute;
    top: 8px;
    right: 20px;
    font-size: 2rem;
    cursor: pointer;
}
.moveshelf_wrap .moveshelf_form .moveshelf_title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    border-bottom: 1px solid #ededed;
}
.moveshelf_wrap .moveshelf_form .moveshelf_title span {
    font-size: 18px;
}
.moveshelf_wrap .moveshelf_form .moveshelf_button {
    width: 100%;
    padding: 0 20px;
    margin: 10px 0 20px;
}
.moveshelf_wrap .moveshelf_form .moveshelf_button button {
    display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
    background-color: #109072;
    color: #fff;
    text-align: center;
}




.changeshelf_wrap {
    display: none;
    width: 90%;
    max-width: 350px;
    background-color: #fff;
    border: 1px solid #888;
    margin: 0 auto;
}
.changeshelf_wrap .changeshelf_form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.changeshelf_wrap .changeshelf_form .close {
    position: absolute;
    top: 8px;
    right: 20px;
    font-size: 2rem;
    cursor: pointer;
}
.changeshelf_wrap .changeshelf_form .changeshelf_title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    border-bottom: 1px solid #ededed;
}
.changeshelf_wrap .changeshelf_form .changeshelf_title span {
    font-size: 18px;
}
.changeshelf_wrap .changeshelf_form .changeshelf_button {
    width: 100%;
    padding: 0 20px;
    margin: 10px 0 20px;
}
.changeshelf_wrap .changeshelf_form .changeshelf_button button {
    display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
    background-color: #109072;
    color: #fff;
    text-align: center;
}

.changestatus_wrap {
    display: none;
    width: 90%;
    max-width: 350px;
    background-color: #fff;
    border: 1px solid #888;
    margin: 0 auto;
}
.changestatus_wrap .changestatus_form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.changestatus_wrap .changestatus_form .close {
    position: absolute;
    top: 8px;
    right: 20px;
    font-size: 2rem;
    cursor: pointer;
}
.changestatus_wrap .changestatus_form .changestatus_title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    border-bottom: 1px solid #ededed;
}
.changestatus_wrap .changestatus_form .changestatus_title span {
    font-size: 18px;
}
.changestatus_wrap .changestatus_form .changestatus_button {
    width: 100%;
    padding: 0 20px;
    margin: 10px 0 20px;
}
.changestatus_wrap .changestatus_form .changestatus_button button {
    display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
    background-color: #109072;
    color: #fff;
    text-align: center;
}
 */
