.member_wrap {
    width: 100%;
    height: 100%;
}
.member_wrap .member_header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ededed;
}
.member_wrap .member_header span {
    font-size: 18px;
    font-weight: bold;
}
.member_wrap .member_content {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    border-top: 5px solid #f9f9f9;
    width: 100%;
    height: calc(100vh - 50px);
}
.member_wrap .member_content .member_title {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ededed;
}
.member_wrap .member_content .member_list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 20px;
    /* border-top: 5px solid #f9f9f9; */
    border-bottom: 1px solid #ededed;
}
.member_wrap .member_content .member_list .member {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.member_wrap .member_content .member_list .member.me {
    background-color:beige;
}
.member_wrap .member_content .member_list .member .member_info {
    margin: 10px 0;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(16, 144,114, 0.8);
    cursor: pointer;
    width: 100%;
    max-width: 400px;
}
.member_wrap .member_content .member_list .member .member_info.click {
    background-color: rgba(16, 144,114, 1);
}
.member_wrap .member_content .member_list .member .member_info img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #fff;
}
.member_wrap .member_content .member_list .member .member_info .name {
    font-size: 1rem;
    margin-left: 20px;
    margin-right: 5px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    width: 150px;
}
.member_wrap .member_content .member_list .member .member_info .icon {
}
.member_wrap .member_content .member_list .member .member_info .icon i {
    color: #fff;
}
.member_list .member_add {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    width: 120px;
    height: 149px;
    cursor: pointer;
    border-radius: 5px;
    background-color: khaki;
    font-size: 2rem;
}
.lock_wrap {
    display: none;
    width: 90%;
    background-color: #fff;
    border: 1px solid #888;
    margin: 0 auto;
}
.lock_wrap .lock_form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.lock_wrap .lock_form .close {
    position: absolute;
    top: 3px;
    right: 20px;
    font-size: 2rem;
    cursor: pointer;
}
.lock_wrap .lock_form .lock_title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    border-bottom: 1px solid #ededed;
}
.lock_wrap .lock_form .lock_title span {
    font-size: 18px;
}
.lock_wrap .lock_form .lock_desc {
    width: 100%;
    padding: 15px 20px;
    font-size: 14px;
    border-top: 5px solid #f9f9f9;
}
.lock_wrap .lock_form .lock_password {
    width: 100%;
    padding: 0 20px;

}
.lock_wrap .lock_form .lock_password input {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    font-size: 15px;
    color: #000;
    height: 50px;
    padding: 0 30px 0 10px;
}
.lock_wrap .lock_form .lock_password input:focus {
    background-color: #fafafa;
}
.lock_wrap .lock_form .lock_button {
    width: 100%;
    padding: 0 20px;
    margin: 10px 0 20px;
}
.lock_wrap .lock_form .lock_button button {
    display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
    background-color: #109072;
    color: #fff;
    text-align: center;
}






.member_add_wrap {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    align-items: center;
}
.member_add_wrap form {
    width: 100%;
}
.member_add_wrap .member_add_form {
    position: relative;
    background-color: #fefefe;;
    margin: 0 auto;
    border: 1px solid #888;
    width: 80%;
    padding: 16px;
}
.member_add_wrap .member_add_form .member_profile {
    text-align: center;
    padding: 25px 10px 10px 10px;
}
.member_add_wrap .member_add_form .member_profile img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}
.member_add_wrap .member_add_form .addprofilebtn {
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #ff6600;
    color: white;
    cursor: pointer;
    display: table;
    font-size: 0.8rem;
    margin: 0 auto;
}
