/* input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background-color: #f1f1f1;
    text-align: center;
}
input[type=text]:focus {
    background-color: #e1e1e1;
    outline: none;
} */

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.login_form {
    padding: 16px;
}
.login_form h2, .login_form p {
    text-align: center;
}
.login_form .error_message {
    display: none;
    color: #f44336;
}
.kakaobtn {
    background: url('/images/kakao_login.png') no-repeat;
    border: none;
    width: 183px;
    height: 45px;
    padding: 0;
    margin: 0;
    background-color: #fff;
}
.googlebtn {
    background: url('/images/google_login.png') no-repeat;
    border: none;
    width: 191px;
    height: 46px;
    padding: 0;
    margin: 0;
    background-color: #fff;
}
/* .kakaobtn, .googlebtn {
    float: left;
    width: 50%;
} */
