* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background-color: #f1f1f1;
    text-align: center;
}
button {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.user_wrap_title {
    text-align: center;
    padding: 16px;
}

.login_code_form {
    padding: 0 16px;
}
.login_code_form .login_code {
    font-size: 1.5rem;
    font-weight: bold;
}
.family_form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 16px;
}
.family_form .member {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
    width: 120px;
    padding: 10px 0;
    cursor: pointer;
    background-color: aliceblue;
    border-radius: 5px;
}
.family_form .member.me {
    background-color:beige;
}
.family_form .member_add {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    width: 120px;
    height: 149px;
    cursor: pointer;
    border-radius: 5px;
    background-color: khaki;
    font-size: 2rem;
}
.family_form .member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}
.family_form .member span {
    font-size: 1rem;
}
.logout_wrap {
    padding: 16px;
}
.member_wrap {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    align-items: center;
}
.member_wrap form {
    width: 100%;
}
.member_wrap .member_form {
    position: relative;
    background-color: #fefefe;;
    margin: 0 auto;
    border: 1px solid #888;
    width: 80%;
    padding: 16px;
}
.member_wrap .member_form .member_profile {
    text-align: center;
    padding: 25px 10px 10px 10px;
}
.member_wrap .member_form img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}
.member_wrap .member_form .user_profile {
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #ff6600;
    color: white;
    cursor: pointer;
    display: table;
    font-size: 0.8rem;
    margin: 0 auto;
}
input[type=file] {
    display: none;
}
.close {
    position: absolute;
    right: 25px;
    top: 10;
    color: #000;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.kakaobtn {
    background: url('/images/kakao_login.png') no-repeat;
    border: none;
    width: 183px;
    height: 45px;
    padding: 0;
    margin: 0;
    background-color: #fff;
}
.googlebtn {
    background: url('/images/google_login.png') no-repeat;
    border: none;
    width: 191px;
    height: 46px;
    padding: 0;
    margin: 0;
    background-color: #fff;
}
/* .kakaobtn, .googlebtn {
    float: left;
    width: 50%;
} */
