.signout_wrap {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 100%;
    /* border-bottom: 5px solid #f9f9f9; */
}
.signout_wrap .signout_header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ededed;
    border-top: 5px solid #f9f9f9;
}
.signout_wrap .signout_header span {
    font-weight: bold;
    font-size: 18px;
}
.signout_wrap .signout_content {
    display: block;
    border-bottom: 1px solid #ededed;
}
.signout_wrap .signout_content .signout_intro {
    padding: 15px 20px;
}
.signout_wrap .signout_content .signout_intro span {
    font-size: 15px;
}
.signout_wrap .signout_content .signout_desc {
    padding: 0px 20px 20px;
    border-bottom: 1px solid #ededed;
}
.signout_wrap .signout_content .signout_desc .signout_menu {
    border: 1px solid #ededed;
    padding: 10px 0;
}
.signout_wrap .signout_content .signout_desc .signout_menu li.signout_menu_title {
    padding: 10px 10px 5px;
    font-size: 15px;
    font-weight: bold;
}
.signout_wrap .signout_content .signout_desc .signout_menu li.signout_menu_desc {
    padding: 0px 10px 10px;
    font-size: 13px;
}
.signout_wrap .signout_content .signout_reason {
    border-top: 5px solid #f9f9f9;
    padding: 15px 20px;
}
.signout_wrap .signout_content .signout_reason .signout_reason_title {
    padding: 5px 0px 5px;
}
.signout_wrap .signout_content .signout_reason .signout_reason_title span {
    font-size: 15px;
    font-weight: bold;
}
.signout_wrap .signout_content .signout_reason .signout_reason_select {
    margin: 5px 0;
}
.signout_wrap .signout_content .signout_reason .signout_reason_select select {
    padding: 10px; /* 여백으로 높이 설정 */ 
    font-family: inherit; /* 폰트 상속 */ 
    background: #fff url(/images/ico-select-40x40.png) no-repeat right 5px center;
    background-size: 20px;
    border: 1px solid #ccc;
    border-radius: 0;
    width: 100%;
    font-size: 14px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.signout_wrap .signout_content .signout_reason .signout_reason_desc textarea {
    padding: 12px 10px;
    border: 1px solid #ccc;
    width: 100%;
    line-height: 20px;
    display: block;
    box-sizing: border-box;
    font-size: 14px;
    resize: none;
}
.signout_wrap .signout_content .signout_reason .signout_btn {
    width: 100%;
    margin: 20px 0;
}
.signout_wrap .signout_content .signout_reason .signout_btn button {
    display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
    background-color: #109072;
    color: #fff;
    text-align: center;
}