<%- include("../common/header.ejs") %>
        <div class="login_wrap">
            <div class="login_form">
                <h3>로그인</h3>
                <h4>카톡으로 간편가입하세요</h4>
                <div class="login_kakaobtn" onclick="common.kakaologin();">
                    <div class="kakaobtn"></div>
                </div>
                <!-- <div class="login_googlebtn" onclick="common.googlelogin();">
                    <div class="googlebtn"></div>
                </div> -->
            </div>
        </div>
        <!-- <script src="/js/login.js"></script>
        <script>new Login(<%=(err)?true:false%>);</script> -->
<%- include("../common/footer.ejs") %>
