<%- include("../common/header.ejs") %>
        <link rel="stylesheet" href="/css/login.css">
        <div class="header center">
            <button class="back" onclick="history.back();">
                <i class="fas fa-chevron-left"></i>
            </button>
            <div class="logo">
                <span class="title">로그인</span>
            </div>
        </div>
        <div class="login_wrap hide">
            <div class="login_form">
                <h3>로그인</h3>
                <h4>카톡으로 간편가입하세요</h4>
                <div class="login_kakaobtn" onclick="common.kakaologin();">
                    <div class="kakaobtn"></div>
                </div>
                <!-- <div class="login_googlebtn" onclick="common.googlelogin();">
                    <div class="googlebtn"></div>
                </div> -->
            </div>
        </div>
        <script src="/js/login.js"></script>
<%- include("../common/footer.ejs") %>
