<%- include("../common/header.ejs") %>
    <link rel="stylesheet" href="css/login.css">
    <div class="login_wrap">
        <form action="./login.html" method="post" id="login_form" onSubmit="return false;">
            <div class="login_form">
                <h2>Login</h2>
                <hr>
                <label for="user_login_code"><b>로그인 코드를 입력하세요.</b></label>
                <input type="text" name="user_login_code" maxlength="4" placeholder="로그인 코드를 입력하세요.">
                <button type="button" class="loginbtn">로그인 하기</button>
                <hr>
                <div class="clearfix">
                    <button type="button" class="kakaobtn"></button>
                    <button type="button" class="googlebtn"></button>
                </div>
            </div>
        </form>
    </div>
    <script src="js/login.js"></script>
<%- include("../common/footer.ejs") %>
