<%- include("../common/header.ejs") %>
        <link rel="stylesheet" href="/css/recommend.css">
        <script src="/static/js/hangul.min.js"></script>
        <!-- <div class="header center">
            <div class="logo">
                <span class="title">책 추천</span>
            </div>
        </div> -->
        <input type="text" name="recommend" value="">
        <button class="search_recommend">search</button>
        <br>
        <textarea name="message" id="" cols="30" rows="10"></textarea>
        <button class="save">save</button>
        <br>
        <div class="list"></div>
        <script src="/js/recommend.js"></script>
 <%- include("../common/footer.ejs") %>
