:root {
	--width: 1140px;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Noto Sans KR", "Malgun Gothic", "맑은 고딕",
		sans-serif;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a,
a:link,
a:hover,
a:active,
a:visited {
	text-decoration: none;
}

.bg-menu {
	background-color: #2179e1;
	height: 120px;
}

.menu {
	width: var(--width);
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 120px;
}

.menu .logo {
	padding-left: 20px;
}

.menu ul {
	width: 800px;
	padding-right: 20px;
	display: flex;
	justify-content: space-between;
}

.menu ul li.active:after {
	display: block;
	content: "";
	height: 14px;
	margin: -10px -5px;
	background-color: #1a5cba;
}

.menu ul li.active a {
	color: #b1faff;
}

.menu ul li a {
	font-size: 18px;
	text-transform: uppercase;
	color: #f4ee4e;
}

.lang {
	width: var(--width);
	position: relative;
	margin: 0 auto;
	margin-top: -120px;
}

.lang ul {
	position: absolute;
	right: 30px;
	background-color: rgba(19, 28, 89, 0.5);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.lang ul li {
	padding: 8px 15px;
	text-align: center;
}

.lang ul li a {
	color: #b1faff;
}

/* TITLE */
.bg-title {
	margin-top: 28px;
}

.bg-title .bg {
	background-color: #f4ee4e;
	width: 50%;
	min-width: 570px;
	height: 105px;
	position: absolute;
}

.bg-title .title {
	width: var(--width);
	margin: 0 auto;
	position: relative;
	padding-top: 35px;
	padding-bottom: 10px;
}

.bg-title .title span {
	font-size: 35px;
	text-transform: uppercase;
	letter-spacing: 0.3rem;
	color: #7b7a7a;
	font-weight: 300;
}

.bg-title .sub-title {
	width: var(--width);
	margin: 0 auto;
	position: relative;
}

.bg-title .sub-title span {
	color: #c0c0c0;
	background-color: rgba(83, 83, 83, 0.9);
	font-size: 24px;
	font-weight: 300;
}

/* CONTENT */
.content {
}

.content .top-content {
	width: var(--width);
	margin: 0 auto;
	margin-top: 70px;
}

.content .top-content .top-title:before {
	display: block;
	content: "";
	border: 1px solid #4b4b4b;
	margin-bottom: -15px;
}

.content .top-content .top-title {
	font-size: 22px;
	text-align: center;
	margin-bottom: 50px;
}

.content .top-content .top-title span {
	color: #4b4b4b;
	background-color: #fff;
	padding: 0 10px;
	font-weight: 600;
}

.content .top-content .top-content-sub {
	display: flex;
	justify-content: space-between;
	background: url(http://www.movigame.co.kr/static/images/bg_about_visual.jpg)
		no-repeat;
	background-position: 9% bottom;
}

.content .top-content .top-content-sub .top-content-sub1 {
	width: 570px;
}

.content .top-content .top-content-sub .top-content-sub1 .sub1-title {
	font-size: 16px;
	line-height: 24px;
}

.content .top-content .top-content-sub .top-content-sub1 .sub1-title span {
	color: #2179e1;
	display: block;
}

.content .top-content .top-content-sub .top-content-sub1 .sub1-content {
	margin-top: 25px;
	width: 387px;
	background-color: rgba(165, 165, 165, 0.82);
	border-top: 5px solid #535353;
	position: relative;
}

.content .top-content .top-content-sub .top-content-sub1 .sub1-content .sub1-bg,
.content
	.top-content
	.top-content-sub
	.top-content-sub2
	.sub2-content
	.sub2-bg {
	position: absolute;
	top: -15px;
	text-align: right;
	font-size: 45px;
	opacity: 0.15;
	font-weight: 600;
	color: #fff;
	right: 20px;
}

.content .top-content .top-content-sub .top-content-sub1 .sub1-content ul {
	min-height: 695px;
	padding: 20px 0;
}

.content .top-content .top-content-sub .top-content-sub1 .sub1-content ul li {
	padding: 20px 20px;
	line-height: 24px;
	font-size: 16px;
	font-weight: 300;
	color: #fff;
}

.content
	.top-content
	.top-content-sub
	.top-content-sub1
	.sub1-content
	ul
	li
	.sub1-subtitle {
	font-size: 24px;
	font-weight: 300;
	text-decoration: underline;
	margin-bottom: 20px;
	color: #53483d;
}

.content .top-content .top-content-sub .top-content-sub2 {
	width: 570px;
}

.content .top-content .top-content-sub .top-content-sub2 .sub2-title {
	font-size: 16px;
	line-height: 24px;
	text-align: right;
}

.content .top-content .top-content-sub .top-content-sub2 .sub2-title span {
	color: #2179e1;
	display: block;
}

.content .top-content .top-content-sub .top-content-sub2 .sub2-content {
	margin-top: 25px;
	width: 387px;
	background-color: rgba(33, 121, 225, 0.82);
	border-top: 5px solid #535353;
	float: right;
	min-height: 735px;
	position: relative;
}

.content .top-content .top-content-sub .top-content-sub2 .sub2-content ul {
	padding: 20px 0;
	min-height: 520px;
}

.content .top-content .top-content-sub .top-content-sub2 .sub2-content ul li {
	padding: 20px 20px;
	line-height: 24px;
	font-size: 16px;
	font-weight: 300;
	color: #fff;
}

.content
	.top-content
	.top-content-sub
	.top-content-sub2
	.sub2-content
	ul
	li
	.sub2-subtitle {
	font-size: 24px;
	font-weight: 300;
	text-decoration: underline;
	margin-bottom: 20px;
	color: #fff603;
}

/* BOTTOM */

.content .bottom-content {
	background-color: #eee;
}

.content .bottom-content .bottom-container {
	width: var(--width);
	margin: 0 auto;
	padding-top: 80px;
}

.content .bottom-content .bottom-container .bottom-title:before {
	display: block;
	content: "";
	border: 1px solid #4b4b4b;
	margin-bottom: -15px;
}

.content .bottom-content .bottom-container .bottom-title {
	text-align: center;
	margin-bottom: 50px;
}

.content .bottom-content .bottom-container .bottom-title span {
	color: #4b4b4b;
	padding: 0 10px;
	font-size: 22px;
	font-weight: 600;
	background-color: #eee;
}

.content .bottom-content .bottom-container .bottom-content-sub {
	display: flex;
	justify-content: space-around;
}

.content
	.bottom-content
	.bottom-container
	.bottom-content-sub
	.bottom-content-sub1
	ul
	li,
.content
	.bottom-content
	.bottom-container
	.bottom-content-sub
	.bottom-content-sub2
	ul
	li {
	display: flex;
	padding: 15px 0;
}

.content
	.bottom-content
	.bottom-container
	.bottom-content-sub
	.bottom-content-sub1
	ul
	li
	.img,
.content
	.bottom-content
	.bottom-container
	.bottom-content-sub
	.bottom-content-sub2
	ul
	li
	.img {
	background-color: #fff;
	border-radius: 50%;
	width: 105px;
	height: 105px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content
	.bottom-content
	.bottom-container
	.bottom-content-sub
	.bottom-content-sub1
	ul
	li
	.sub1-container,
.content
	.bottom-content
	.bottom-container
	.bottom-content-sub
	.bottom-content-sub2
	ul
	li
	.sub2-container {
	margin-left: 25px;
	width: 390px;
	display: flex;
	flex-direction: column;
}

.content
	.bottom-content
	.bottom-container
	.bottom-content-sub
	.bottom-content-sub1
	ul
	li
	.sub1-container
	.sub1-subtitle:before {
	display: block;
	content: "";
	border: 10px solid rgba(244, 238, 78, 0.6);
	width: 95px;
	margin-bottom: -35px;
}

.content
	.bottom-content
	.bottom-container
	.bottom-content-sub
	.bottom-content-sub1
	ul
	li
	.sub1-container
	.sub1-subtitle,
.content
	.bottom-content
	.bottom-container
	.bottom-content-sub
	.bottom-content-sub2
	ul
	li
	.sub2-container
	.sub2-subtitle {
	font-size: 22px;
	color: #53483d;
	font-weight: 300;
	padding-top: 10px;
}

.content
	.bottom-content
	.bottom-container
	.bottom-content-sub
	.bottom-content-sub1
	ul
	li
	.sub1-container
	.sub1-subcontent,
.content
	.bottom-content
	.bottom-container
	.bottom-content-sub
	.bottom-content-sub2
	ul
	li
	.sub2-container
	.sub2-subcontent {
	font-size: 16px;
	color: #9e9e9e;
	margin-top: 20px;
	line-height: 25px;
}

.content
	.bottom-content
	.bottom-container
	.bottom-content-sub
	.bottom-content-sub2
	ul
	li
	.sub2-container
	.sub2-subtitle:before {
	display: block;
	content: "";
	border: 10px solid rgba(63, 185, 255, 0.6);
	width: 95px;
	margin-bottom: -35px;
}

/* FOOTER */

.bg-bottom {
	background-color: #eee;
	padding-top: 50px;
}

.bg-bottom .title {
	background-color: #eee;
	font-size: 50px;
	color: #dedede;
	font-weight: 600;
	width: var(--width);
	position: relative;
	top: 15px;
	margin: 0 auto;
	text-align: center;
}

.bg-bottom .footer {
	font-size: 12px;
	background-color: #363a40;
	color: #b0b0b0;
	text-align: center;
	padding: 10px 0;
	position: relative;
}
