<%- include ('./common/header.ejs') %>
    <div class="contents">
        <div class="title">
            <!-- <span>내 아이</span> -->
        </div>
        <div class="kids">
            <div class="add">+</div>
            <!-- <div class="kid">
                <div class="kid_picture">
                    <i class="fas fa-user-circle"></i>
                </div>
                <div class="kid_name">홍길동</div>
            </div>
            <div class="kid">
                <div class="kid_picture">
                    <i class="fas fa-user-circle"></i>
                </div>
                <div class="kid_name">임꺽정</div>
            </div> -->
        </div>
        <div class="title">
            <!-- <span>내 책장</span> -->
            <div class="more">더보기+</div>
        </div>
        <div class="bookshelf">
            <!-- <div class="book">
                <div class="book_picture">
                    <img src="https://search1.kakaocdn.net/thumb/R120x174.q85/?fname=http%3A%2F%2Ft1.daumcdn.net%2Flbook%2Fimage%2F547017%3Ftimestamp%3D20210416144701" alt="">
                </div>
                <div class="book_info">
                    <div class="book_title">
                        바이러스
                    </div>
                    <div class="book_author">
                        <span>저자</span> 곰돌이 co.
                    </div>
                    <div class="book_publisher">
                        <span>출판</span> 아이세움
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <!-- <div id="menu_modal" class="modal">
        <div class="menu-content">
            <span class="close">&times;</span>
            <div class="menu_form">
                <% if(user) { %>
                <div class="user_info">
                    <div class="user_name">
                        <h3><%=user.user_name%> 님</h3>
                    </div>
                    <div class="user_logout">
                        <button type="button" id="userinfo">회원정보</button>
                        <button type="button" id="logout">로그아웃</button>
                    </div>
                </div>
                <% } else { %>
                <h3>로그인 후 이용하세요.</h3>
                <button type="button" id="login_kakao">Kakao</button>
                <% } %>
            </div>
        </div>
    </div>
    <div id="kid_modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="kid_form">
                <h3>내 아이 등록하기</h3>
                <form action="/user/add_mylove" id="mylove_form" method="post" onsubmit="return false;">
                    <input type="file" name="mylove_photo" id="">
                    <input type="text" name="mylove" value="" placeholder="이름을 등록해 주세요~">
                    <button type="button" id="add_mylove">등록할래요~</button>
                </form>
            </div>
        </div>
    </div> -->
    <!-- <div id="book_modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="bookshelf_book"></div>
            <div class="bookshelf_book_btn">
                <div class="btn_group">
                    <button class="del_book" data-isbn13="">책장에서 제거</button>
                    <button>책 보기 시작</button>
                </div>
                <div class="btn_group">
                    <select name="mylove" id="send_mylove">
                        <option value="">테스터</option>
                    </select>
                    에게 
                    <button class="send_book">책 보내기</button>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <h3>책 찾기</h3> -->
    <!-- <form action="/book/search" id="search_book_form" method="post" onsubmit="return false;"> -->
        <!-- <input type="text" name="isbn" value="" placeholder="책 제목이나 ISBN 을 입력하세요." style="width: 200px;"> -->
        <!-- <button type="button" id="search_book">책 찾아보기</button> -->
    <!-- </form> -->
    <script src="js/index.js"></script>
    <script>
        // let soobooke = new Soobooke(<%=(user)?true:false%>);
    </script>
<%- include("./common/footer.ejs") %>
