<%- include ('./common/header.ejs') %>
    <div class="contents">
        <div class="title">
        </div>
        <div class="kids">
            <div class="add">+</div>
        </div>
        <div class="title">
            <div class="more">더보기+</div>
        </div>
        <div class="bookshelf">
        </div>
    </div>
    <script src="js/index.js"></script>
<%- include("./common/footer.ejs") %>
