<%- include ('./common/header.ejs') %>
    <style>
        .family {
            display: flex;
            align-items : center;
            justify-content: flex-start;
            flex-wrap: wrap;
        }
        .family .person {
            width: 150px;
            height: 150px;
            cursor: pointer;
            margin: 20px;
        }
    </style>
    <div class="family">
        <button class="person" data-user="1"></button>
        <button class="person" data-user="2"></button>
        <button class="person" data-user="3"></button>
        <button class="person" data-user="4"></button>
    </div>
    <script>
        function Family() {
            init();
            function init() {
                document.querySelectorAll('.person').forEach(function(item) {
                    item.addEventListener('click', function(e) {
                        let url = '/user/select_user';
                        let form_data = new FormData();
                        form_data.append('select_user', item.dataset.user);
                        common.ax_fetch_post(url, form_data, function(res) {
                            window.location.reload();
                        });
                    });
                });
            }
        }
        new Family();
    </script>
<%- include("./common/footer.ejs") %>
