<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/common.css">
    <script src="/socket.io/socket.io.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="channel" style="display: ;">
        <div class="nav">
            <span>채팅</span>
        </div>
        <ul class="list">
            <li class="room" data-room="A">
                <span class="title">테스트 A</span>
                <span class="created_at">2021-02-19</span>
            </li>
            <li class="room" data-room="B">
                <span class="title">테스트 B</span>
                <span class="created_at">2021-02-19</span>
            </li>
            <li class="room" data-room="C">
                <span class="title">테스트 C</span>
                <span class="created_at">2021-02-19</span>
            </li>
        </ul>
    </div>
    <div class="chat" style="display: none;">
        <div class="nav">
            <div class="header">
                <div class="title">테스트 A</div>
                <div class="list" id="golist">목록</div>
            </div>
            <div class="member">참여자 : 홍길동, 홍삼, 홍합</div>
        </div>
        <ul class="contents">
            <li class="another">
                <div class="name">사용자1</div>
                <span class="message">하이ㅁㄻㅇㄴㄹ
                    ㄹㄴ
                    ㄻㄴㄻㄴㄹ\1\2312\3123

                    23
                    12312
                    3112
                </span>
                <span class="time">오후 3:12</span>
            </li>
            <li class="another">
                <div class="name">사용자1</div>
                <span class="message">하이ㅁㄻㅇㄴㄹ
                    ㄹㄴ
                    ㄻㄴㄻㄴㄹ\1\2312\3123

                    23
                    12312
                    3112
                </span>
                <span class="time">오후 3:12</span>
            </li>
            <li class="another">
                <div class="name">사용자1</div>
                <span class="message">하이ㅁㄻㅇㄴㄹ
                    ㄹㄴ
                    ㄻㄴㄻㄴㄹ\1\2312\3123

                    23
                    12312
                    3112
                </span>
                <span class="time">오후 3:12</span>
            </li>
            <li class="me">
                <span class="time">오후 3:12</span>
                <span class="message">하이
                    13
                    13
                    12321
                    한글이 많이 들어오면 어떻게 될까요?
                    31232131313213132
                </span>
            </li>
            <li class="me">
                <span class="time">오후 3:12</span>
                <span class="message">하이
                    13
                    13
                    12321
                    한글이 많이 들어오면 어떻게 될까요?
                    31232131313213132
                </span>
            </li>
            <li class="me">
                <span class="time">오후 3:12</span>
                <span class="message">하이
                    13
                    13
                    12321
                    한글이 많이 들어오면 어떻게 될까요?
                    31232131313213132
                </span>
            </li>
            <li class="me">
                <span class="time">오후 3:12</span>
                <span class="message">하이
                    13
                    13
                    12321
                    한글이 많이 들어오면 어떻게 될까요?
                    31232131313213132
                </span>
            </li>
        </ul>
        <div class="writer">
            <textarea id="write_msg" rows="3"></textarea>
            <button type="button" class="write">전송</button>
        </div>
    </div>
<script>
    const chat = io('http://127.0.0.1:3000/chat');
    let join_channel;
    let nickname = makeRandomName();

    chat.emit('ready');
    chat.on('ready', function(data) {
        let list = document.querySelector('.list');
        list.innerHTML = data.rooms.map((v, k) => HtmlChannel(v, k)).join('');
        JoinChannel();
    });

    function HtmlChannel(v, k) {
        return `
        <li class="room" data-room="${k}">
            <span class="title">${v.name}</span>
            <span class="created_at">${v.created_at}</span>
        </li>`;
    }

    function JoinChannel() {
        let room = document.querySelectorAll('.room');
        room.forEach(function(item) {
            item.addEventListener('click', function() {
                join_channel = this.dataset.room;
                document.querySelector('.channel').style.display = 'none';
                document.querySelector('.chat').style.display = 'block';
                chatStart();
            });
        });
    }

    function chatStart() {
        document.body.scrollIntoView(false);
        chat.emit('join', { // join_channel 참여 요청
            name: nickname,
            room: join_channel,
        });
        chat.on('join', function(data) { // join_channel 참여 수신 메시지
            console.log(data);
        });
        chat.on('chat', function(data) { // 채팅 수신 메시지
            document.querySelector('.contents').insertAdjacentHTML('beforeend', `
            <li class="${data.name !== nickname ? 'another' : 'me'}">
                <span class="time">${data.time}</span>
                <span class="message">${data.msg}</span>
            </li>`);
            document.body.scrollIntoView(false);
        });
    }

    document.querySelector('.write').addEventListener('click', function() {
        let write = document.querySelector('#write_msg');
        if(write.value) {
            chat.emit('chat', {
                name: nickname,
                room: join_channel,
                msg: write.value,
            });
            write.value = '';
        }
    });

    let list = document.querySelector('#golist');
    list.addEventListener('click', function() {
        // 방 나가기 추가
        document.querySelector('.channel').style.display = 'block';
        document.querySelector('.chat').style.display = 'none';
    });

    function makeRandomName() { // 닉네임 랜덤
        var name = "";
        var possible = "abcdefghijklmnopqrstuvwxyz";
        for( var i = 0; i < 3; i++ ) {
            name += possible.charAt(Math.floor(Math.random() * possible.length));
        }
        return name;
    }
</script>
</body>
</html>
