<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/socket.io/socket.io.js"></script>
    <title>Document</title>
</head>
<body>
    <input type="text" id="send_msg">
    <button id="send_btn">보내기</button>
    <button id="out_btn">나가기</button>
    <div id="res"></div>
<script>
const socket = io('http://127.0.0.1:3000/io'); // socket.io 접속
const nickname = makeRandomName();
function makeRandomName() { // 닉네임 랜덤
    var name = "";
    var possible = "abcdefghijklmnopqrstuvwxyz";
    for( var i = 0; i < 3; i++ ) {
        name += possible.charAt(Math.floor(Math.random() * possible.length));
    }
    return name;
}

function update_msg(msg) {
    document.querySelector('#res').insertAdjacentHTML('beforeend', msg);
}

socket.emit('join', { // join - 서버로 전송
    nickname: nickname,
});

socket.on('join', function(data) { // join - 서버에서 수신
    update_msg(`<div><strong>${data}</strong> has joined.</div>`);
});

socket.on('chat', function(data) { // chat - 서버에서 수신
    console.log(data);
    update_msg(`<div><strong>${data.from.nickname}</strong> ${data.msg}</div>`);
});

socket.on('client-disconnect', function(data) { // client-disconnect- 서버에서 수신
    update_msg(`<div><strong>${data}</strong> disconnected.</div>`);
});

document.querySelector('#send_btn').addEventListener('click', function() {
    let send_mag = document.querySelector('#send_msg');
    socket.emit('chat', { msg: send_mag.value });
    send_mag.value = '';
});

document.querySelector('#out_btn').addEventListener('click', function() {
    socket.emit('client-disconnect');
    update_msg(`<div><strong>disconnected</strong></div>`);
});
</script>
</body>
</html>
