<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/socket.io/socket.io.js"></script>
    <title>Document</title>
</head>
<body>
    <input type="text" id="send_msg">
    <button id="send_btn">보내기</button>
    <button id="out_btn">나가기</button>
    <div id="res"></div>
<script>
const socket = io('http://localhost:3000/single'); // socket.io 접속
const nickname = '<%=user_name%>';

function update_msg(msg) {
    document.querySelector('#res').insertAdjacentHTML('afterbegin', msg);
}

socket.emit('join', { // join - 서버로 전송
    nickname: nickname,
});

socket.on('join', function(data) { // join - 서버에서 수신
    update_msg(`<div><strong>${data}</strong> has joined.</div>`);
});

socket.on('chat', function(data) { // chat - 서버에서 수신
    update_msg(`<div>${data.msg}</div>`);
});

socket.on('client-disconnect', function(data) { // client-disconnect- 서버에서 수신
    update_msg(`<div><strong>${data}</strong> disconnected.</div>`);
});

document.querySelector('#send_btn').addEventListener('click', function() {
    let send_mag = document.querySelector('#send_msg');
    if(send_msg.value) socket.emit('chat', { msg: send_mag.value });
    send_mag.value = '';
});
window.addEventListener('keydown', function(e) {
    e.preventDefault();
    // Enter 처리
    if(e.keyCode === 13 && e.shiftKey === false) {
        document.querySelector('#send_btn').click();
    }
    switch(e.keyCode) {
        case 32: // spacebar
        case 81: // q
        case 37:
        case 38:
        case 39:
        case 40:
        case 65:
        case 68:
        case 83:
        case 87:
            socket.emit('chat', { msg: e.keyCode });
        break;
    }
    console.log(e.keyCode);
});

document.querySelector('#out_btn').addEventListener('click', function() {
    socket.emit('client-disconnect');
    update_msg(`<div><strong>disconnected</strong></div>`);
    self.location.href = '/';
});
</script>
</body>
</html>
