<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/"><h1>Home</h1></a>
    <br>
<% if(user) { %>
    <%=user.user_name%> (<%=user.user_id%>)님 환영합니다. <br>
    <a href="/user/info">회원정보</a> | <a href="/logout">로그아웃</a><br><br>
    <a href="/single">single 채널</a> | <a href="/chat">multi 채널</a><br><br>
    <a href="/game/lotto">lotto</a> | <a href="/game/minesweeper">minesweeper</a>
<% } else { %>
    로그인 후 이용하세요. <br><br>
    <a href="/auth/guest" id="guest">비회원</a><br><br>
    <a href="/auth/facebook">Facebook</a><br><br>
    <a href="/auth/google">Google</a><br><br>
    <a href="/auth/kakao">Kakao</a><br><br>
    <a href="/auth/naver">Naver</a><br><br>
    <!-- <a href="/verify/google/request">Google Token 요청</a><br><br> -->
    <!-- <a href="/verify/onestore/request">Onestore Token 요청</a><br><br> -->
    <form action="/auth/guest" id="login" method="post">
        <input type="hidden" name="userid" value="<%=guest%>">
        <input type="hidden" name="username" value="guest">
    </form>
    <script>
    document.querySelector('#guest').addEventListener('click', function(e) {
        document.querySelector('#login').submit();
        e.preventDefault();
    });
    <% if(!guest) { %>
    function makeRandomName() { // 랜덤 3글자
        let name = '';
        let possible = "abcdefghijklmnopqrstuvwxyz";
        for( let i = 0; i < 3; i++ ) {
            name += possible.charAt(Math.floor(Math.random() * possible.length));
        }
        return name;
    }
    document.querySelector('input[name="userid"]').value = makeRandomName() + Date.now();
    <% } %>
    </script>
<% } %>
</body>
</html>
