<%- include("../common/header.ejs") %>
        <div class="bookstamp_wrap">
            <div class="bookstamp_content">
                <div class="bookstamp_menu_group">
                    <ul class="bookstamp_menu"></ul>
                </div>
                <ul class="bookstamp_list"></ul>
            </div>
        </div>
        <script src="/js/bookstamp.js"></script>
<%- include("../common/footer.ejs") %>
