<%- include("../common/header.ejs") %>
<div class="entry" style="margin-top: 50px;">
    <script src="https://cdn.ckeditor.com/4.9.1/standard/ckeditor.js"></script>
    <div style="padding: 0 20px;"><textarea name="editor1" class="editor1"></textarea></div>
    <style>
    .cke_top {
        display: none;
    }
    .cke_bottom {
        display: none;
    }
    </style>
    <script>
        CKEDITOR.replace( 'editor1', {
            enterMode: CKEDITOR.ENTER_BR,
            contentsCss: "body {font-size: 15px;}",
            width: '100%',
            height: '100%',
            toolbarGroups: [
                { name: 'document', groups: [ 'mode', 'document', 'doctools' ] },
                { name: 'clipboard', groups: [ 'clipboard', 'undo' ] },
                { name: 'editing', groups: [ 'find', 'selection', 'spellchecker', 'editing' ] },
                { name: 'forms', groups: [ 'forms' ] },
                '/',
                { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
                { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi', 'paragraph' ] },
                { name: 'links', groups: [ 'links' ] },
                { name: 'insert', groups: [ 'insert' ] },
                '/',
                { name: 'styles', groups: [ 'styles' ] },
                { name: 'colors', groups: [ 'colors' ] },
                { name: 'tools', groups: [ 'tools' ] },
                { name: 'others', groups: [ 'others' ] },
                { name: 'about', groups: [ 'about' ] }
            ],
            removeButtons: 'Source,Save,NewPage,ExportPdf,Preview,Print,Templates,Cut,Undo,Redo,Copy,Paste,PasteText,PasteFromWord,Find,SelectAll,Scayt,Form,Bold,CopyFormatting,NumberedList,Outdent,Blockquote,JustifyLeft,Link,BidiLtr,Image,Styles,TextColor,About,Maximize,ShowBlocks,BGColor,Format,Font,FontSize,Iframe,PageBreak,SpecialChar,Smiley,HorizontalRule,Table,Flash,Unlink,Anchor,BidiRtl,JustifyCenter,CreateDiv,Indent,RemoveFormat,BulletedList,Italic,Replace,Checkbox,Radio,Underline,JustifyRight,Language,JustifyBlock,Strike,Subscript,Superscript,TextField,Textarea,Select,Button,ImageButton,HiddenField',
        });
     </script>
  </div>
 </div>
 <%- include("../common/footer.ejs") %>
