:root {
	/* color */
	--color-yellow: #f4ee4e;
	/* font-size */
	--fs-menu: 16px;
	/* width */
	--frame-width: 1140px;
}

/* COMMON */

body {
	padding: 0;
	margin: 0;
	font-family: "Roboto", "Noto Sans KR", "Malgun Gothic", "맑은 고딕",
		sans-serif;
}

ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

a,
a:link,
a:visited,
a:active,
a:hover {
	text-decoration: none;
}

/* MENU */
.bg-menu {
	background-color: #ff7e28;
	height: 684px;
	border-bottom: 5px solid #535353;
}

.menu {
	margin: 0 auto;
	display: flex;
	width: var(--frame-width);
	height: 100px;
	justify-content: space-between;
	align-items: center;
}

.menu .logo {
	cursor: pointer;
}

.menu > ul {
	display: flex;
	width: 800px;
	justify-content: space-between;
}

.menu > ul > li {
	text-transform: uppercase;
	font-size: var(--fs-menu);
}

.menu > ul > li > a {
	color: var(--color-yellow);
}

.lang {
	position: relative;
	margin: 0 auto;
	width: var(--frame-width);
	margin-top: -100px;
}

.lang > ul {
	right: 10px;
	position: absolute;
	background: rgba(19, 28, 89, 0.5);
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	font-weight: bold;
	cursor: pointer;
}

.lang > ul:hover {
	background-color: #14255f;
	color: #fff;
}

.lang > ul > li {
	text-align: center;
	padding: 8px 16px;
}

.lang > ul > li > a {
	color: #b1fae5;
}

/* BAR */

.bg-bar {
	background-color: var(--color-yellow);
	height: 210px;
	margin-top: 14px;
}

.bg-bar .popup1 {
	display: flex;
	justify-content: space-between;
	width: var(--frame-width);
	margin: 0 auto;
	align-items: flex-end;
	position: relative;
	top: -180px;
}

.bg-bar .popup1 > .pop1 {
	width: 720px;
	height: 170px;
	display: flex;
	align-items: center;
	background-color: #14255f;
	border-left: 3px solid #87a0ff;
	box-shadow: 1px 10px 55px 3px rgba(0, 0, 0, 0.37);
}

.bg-bar .popup1 > .pop1 > .icon {
	margin: 0 30px;
	padding: 30px;
	border-radius: 50%;
	background-color: #0c1c59;
}

.bg-bar .popup1 > .pop1 > .content > .title {
	font-size: 22px;
	/* border: 1px solid #000; */
	padding: 10px 0 15px 0;
	color: #87a0ff;
}

.bg-bar .popup1 > .pop1 > .content > .desc {
	padding: 0 10px 10px 0;
	color: #ccc;
}

.bg-bar .popup1 > .pop2 {
	width: 400px;
	height: 290px;
	background-color: #af2a85;
	border-top: 3px solid #ffa7ab;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 1px 10px 55px 3px rgba(0, 0, 0, 0.37);
}

.bg-bar .popup1 > .pop2 > .icon {
	margin: 30px 0 0 0;
	padding: 30px;
	border-radius: 50%;
	background-color: #910f68;
}

.bg-bar .popup1 > .pop2 > .content {
	padding: 0 25px;
}

.bg-bar .popup1 > .pop2 > .content > .title {
	font-size: 22px;
	padding: 10px 0 15px 0;
	color: #87a0ff;
}

.bg-bar .popup1 > .pop2 > .content > .desc {
	padding: 0 0 10px 0;
	color: #ccc;
}

.bg-bar .popup2 {
	display: flex;
	justify-content: center;
	width: var(--frame-width);
	margin: 0 auto;
	position: relative;
	top: -165px;
}

.bg-bar .popup2 > .pop1 {
	width: 390px;
	height: 310px;
	background-color: #3b5fbc;
	border-top: 3px solid #89e5ff;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 1px 10px 55px 3px rgba(0, 0, 0, 0.37);
}

.bg-bar .popup2 > .pop1 > .icon {
	margin: 30px 0 0 0;
	padding: 30px;
	border-radius: 50%;
	background-color: #1a43ab;
}

.bg-bar .popup2 > .pop1 > .content {
	padding: 0 25px;
}

.bg-bar .popup2 > .pop1 > .content > .title {
	font-size: 22px;
	padding: 10px 0 15px 0;
	color: #89e5ff;
}

.bg-bar .popup2 > .pop1 > .content > .desc {
	padding: 0 0 10px 0;
	color: #ccc;
}

.bg-bar .popup2 > .pop2 {
	width: 500px;
	height: 230px;
	margin-left: 15px;
	background-color: #dd5530;
	border-left: 3px solid #ebce7d;
	display: flex;
	align-items: center;
	box-shadow: 1px 10px 55px 3px rgba(0, 0, 0, 0.37);
}

.bg-bar .popup2 > .pop2 > .icon {
	margin: 0 0 0 30px;
	padding: 30px;
	border-radius: 50%;
	background-color: #c13712;
}

.bg-bar .popup2 > .pop2 > .content {
	padding: 0 25px;
}

.bg-bar .popup2 > .pop2 > .content > .title {
	font-size: 22px;
	padding: 10px 0 15px 0;
	color: #ebce7d;
}

.bg-bar .popup2 > .pop2 > .content > .desc {
	padding: 0 0 10px 0;
	color: #ccc;
}

.desc {
	font-size: 16px;
	letter-spacing: -0.02em;
	line-height: 1.4em;
	font-weight: 300;
}

/* CONTENTS */

.bg-contents {
	height: 620px;
	padding-top: 300px;
}

.bg-contents .title {
	width: var(--frame-width);
	margin: 0 auto;
	text-align: center;
}

.bg-contents .title span {
	font-size: 22px;
	font-weight: 600;
	color: #4b4b4b;
	background-color: #fff;
	padding: 0 20px;
	text-transform: uppercase;
}

.bg-contents .title:before {
	display: block;
	height: 2px;
	background-color: #4b4b4b;
	content: "";
	margin-bottom: -15px;
}

.bg-contents .content {
	margin: 0 auto;
	width: var(--frame-width);
	display: flex;
	justify-content: center;
	margin-top: 70px;
	position: relative;
}

.bg-contents .content .bg {
	position: absolute;
	top: -85px;
	left: 140px;
}

.bg-contents .content .desc {
	padding: 0 50px;
}

.bg-contents .button {
	width: var(--frame-width);
	margin: 0 auto;
	text-align: center;
	margin-top: 50px;
}

.bg-contents .button .btn {
	padding: 20px 70px;
	background-color: #286cd4;
	border: none;
	outline: none;
	cursor: pointer;
	color: #fff;
	font-size: 22px;
	border-radius: 50px;
}

/* PLATFORM */

.bg-platform {
	background-color: #333743;
	height: 530px;
	margin-bottom: 130px;
}

.bg-platform .content {
	/* border: 1px solid red; */
	width: var(--frame-width);
	margin: 0 auto;
	position: relative;
}

.bg-platform .content .phone {
	position: absolute;
	top: 180px;
	left: 230px;
	z-index: 1;
	overflow: hidden;
	height: 480px;
}

.bg-platform .content .notebook {
	position: absolute;
	top: 50px;
	left: -280px;
}

.bg-platform .content .section {
	padding-top: 100px;
	padding-left: 600px;
}

.bg-platform .content .section .title {
	font-size: 85px;
	font-weight: bold;
	color: #aaaaaa;
	line-height: 5.5rem;
}

.bg-platform .content .section .desc {
	font-size: 14px;
	font-weight: 500;
	color: #aaaaaa;
	padding: 20px 0 30px 0;
}

.bg-platform .content .section .icons {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 380px;
}

.bg-platform .content .section .icons li {
	border-radius: 50%;
	width: 110px;
	height: 110px;
	background-color: #434752;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* BOTTOM */
.bg-bottom {
	background-color: #333743;
	height: 50px;
}

.bg-bottom .title {
	position: relative;
	top: -48px;
	font-size: 50px;
	font-weight: bold;
	color: #dedede;
	margin: 0 auto;
	width: var(--frame-width);
	height: 48px;
	overflow: hidden;
}

.bg-bottom .footer {
	width: var(--frame-width);
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: -30px;
	color: #dedede;
}
