<%- include("../common/header.ejs") %>
        <div class="member_wrap">
            <div class="member_header">
                <span class="close" onclick="history.back();"><i class="fas fa-chevron-left"></i></span>
                <span>우리 아이 관리</span>
            </div>
            <div class="member_content">
                <div class="member_btn">
                    <div class="member_add">
                        <span class="name">아이 등록하기 +</span>
                    </div>
                </div>
                <div class="member_list"></div>
            </div>
        </div>
        <section class="layer_modal">
            <div class="member_add_wrap animate"><!-- 우리 아이 등록하기 -->
                <form action="/user" method="post" id="member_add_form" onsubmit="return false;">
                    <div class="member_add_form">
                        <span class="close">×</span>
                        <div class="member_add_title">
                            <span>우리 아이 등록하기</span>
                        </div>
                        <div class="member_add_picture">
                            <img src="" class="member_add_picture_preview">
                            <label for="user_picture" class="user_picture"><i class="fas fa-camera"></i></label>
                            <input type="file" name="user_picture" id="user_picture" accept=".jpg, .jpeg, .gif, .png">
                        </div>
                        <div class="member_add_name">
                            <input type="text" name="user_name" placeholder="아이 이름을 입력하세요." value="">
                        </div>
                        <div class="member_add_button">
                            <button type="button" class="member_add_btn">등록하기</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="member_mod_wrap animate"><!-- 우리 아이 수정하기 -->
                <form action="/user" method="post" id="member_mod_form" enctype="multipart/form-data" onsubmit="return false;">
                    <input type="hidden" name="user_idx" value="">
                    <div class="member_mod_form">
                        <span class="close">×</span>
                        <div class="member_mod_title">
                            <span>우리 아이 수정하기</span>
                        </div>
                        <div class="member_mod_picture">
                            <img src="" class="member_mod_picture_preview">
                            <label for="user_mod_picture" class="user_mod_picture"><i class="fas fa-camera"></i></label>
                            <input type="file" name="user_mod_picture" id="user_mod_picture" accept=".jpg, .jpeg, .gif, .png">
                        </div>
                        <div class="member_mod_name">
                            <input type="text" name="user_name" placeholder="아이 이름을 입력하세요." value="">
                        </div>
                        <div class="member_mod_button">
                            <button type="button" class="member_mod_btn">수정하기</button>
                        </div>
                        <div class="member_del_button">
                            <button type="button" class="member_del_btn">삭제하기</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <script src="/js/usermanage.js"></script>
<%- include("../common/footer.ejs") %>
