<%- include("../common/header.ejs") %>
        <link rel="stylesheet" href="/css/usersignout.css">
        <div class="header center">
            <button class="back" onclick="history.back();">
                <i class="fas fa-chevron-left"></i>
            </button>
            <div class="logo">
                <span class="title">회원 탈퇴</span>
            </div>
        </div>
        <div class="signout_wrap">
            <div class="signout_content">
                <div class="signout_intro">
                    <span>회원탈퇴 전 안내사항을 꼭 확인해 주세요.</span>
                </div>
                <div class="signout_desc">
                    <ul class="signout_menu">
                        <li class="signout_menu_title">
                            <span>탈퇴 안내</span>
                        </li>
                        <li class="signout_menu_desc">
                            <span>회원 탈퇴 진행 후 연결된 SNS 계정을 연결해제해 주십시오.</span>
                        </li>
                        <!-- <li class="signout_menu_desc">
                            <span>회원 탈퇴 요청을 하지않고 SNS 계정에서 연결해제시, 가입된 모든 정보가 자동 삭제됩니다.</span>
                        </li> -->
                        <li class="signout_menu_title">
                            <span>데이터 복구 불가 안내</span>
                        </li>
                        <li class="signout_menu_desc">
                            <span>회원 탈퇴 시 주 사용자와 부 사용자의 모든 서비스 이용 데이터가 자동 삭제되며 복원되지 않습니다.</span>
                        </li>
                        <li class="signout_menu_title">
                            <span>개인 정보 파기 안내</span>
                        </li>
                        <li class="signout_menu_desc">
                            <span>회원 탈퇴 시 주 사용자와 부 사용자의 프로필, 닉네임 정보는 모두 삭제되며 재가입 시 복원이 불가능합니다.</span>
                        </li>
                    </ul>
                </div>
                <div class="signout_reason">
                    <form action="/user/leave" class="signout_form" onsubmit="return false;">
                    <div class="signout_reason_title">
                        <span>탈퇴사유</span>
                    </div>
                    <div class="signout_reason_select">
                        <select name="signout_reason" id="">
                            <option value="">선택해 주세요.</option>
                            <option value="사용이 불편함">사용이 불편함</option>
                            <option value="자주 사용하지 않음">자주 사용하지 않음</option>
                            <option value="개인정보 유출 우려">개인정보 유출 우려</option>
                            <option value="기타 사유">기타 사유</option>
                        </select>
                    </div>
                    <div class="signout_reason_desc">
                        <textarea name="signout_desc" rows="5" placeholder="수북이가 개선해야 될 부분을 말씀해 주세요."></textarea>
                    </div>
                    <div class="signout_btn">
                        <button class="signoutbtn">탈퇴하기</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
            let Signout = function() {
                return {
                    init: function() {
                        document.querySelector('.signoutbtn').addEventListener('click', function() {
                            if(!confirm('탈퇴를 진행하시겠습니까?')) return false;
                            if(!document.querySelector('select[name=signout_reason]').value) {
                                alert('탈퇴사유를 선택해 주세요.');
                                return false;
                            }
                            let signout_form = document.querySelector('.signout_form');
                            let url = signout_form.action;
                            let form_data = new FormData(signout_form);
                            common.ax_fetch_put(url, form_data, function(res) {
                                if(res.success) {
                                    if(res.message) alert(res.message);
                                    if(res.code == 'home') common.home();
                                } else {
                                    if(res.message) alert(res.message);
                                    if(res.code == 'logout') common.logout();
                                    if(res.code == 'reload') common.reload();
                                }
                            });
                        });
                    }(),
                }
            }();
        </script>
<%- include("../common/footer.ejs") %>
