<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <label>No:</label>
        <span id="no"><%=user_idx%></span>
    </div>
    <div>
        <label>email:</label>
        <span id="email"><%=user_email%></span>
    </div>
    <div>
        <label>name:</label>
        <span id="name"><%=user_name%></span>
    </div>
    <div>
        <a href="/">Home</a>
    </div>
</body>
</html>
