<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/static/js/common.js"></script>
</head>
<body>
    <div>
        <label>No:</label>
        <span id="no"></span>
    </div>
    <div>
        <label>email:</label>
        <span id="email"></span>
    </div>
    <div>
        <label>name:</label>
        <span id="name"></span>
    </div>
    <div>
        <a href="/">Home</a>
    </div>
    <script>
        (function() {
            let url = '/ax/info';
            ax_post(url, null, function(res) {
                if(res.success) {
                    document.querySelector('#no').innerText = res.data.user_idx;
                    document.querySelector('#email').innerText = res.data.user_email;
                    document.querySelector('#name').innerText = res.data.user_name;
                } else {
                    alert(res.message);
                    location.href='/forms/logout';
                }
            });
        })()
    </script>
</body>
</html>
