<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/ax/login" method="post" name="login_form" id="login_form">
        <div>
            <label>email:</label>
            <input type="text" name="email"/>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="pwd"/>
        </div>
        <div>
            <input type="submit" id="login" value="Login"/>
        </div>
    </form>
</body>
</html>
