<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            user-select: none;
            margin: 0;
            padding: 0;
            width: 100vw;
            height: 100vh;
            display: table;
        }
        .game_play {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
        }
        #rival-deck, #rival-deck-ready, #rival-king, #rival-card, #my-card, #my-king, #my-deck, #my-deck-ready {
            height: 90px;
            margin: 5px 0;
        }
        #rival-king {
            text-align: center;
            zoom: 1.4;
        }
        #rival-deck {
            text-align: right;
        }
        #rival-deck-ready {
            margin-bottom: -100px;
            zoom: 0.8;
            text-align: left;
        }
        #my-king {
            text-align: center;
            zoom: 1.4;
        }
        #my-deck {
            text-align: right;
        }
        #my-deck-ready {
            margin-top: -100px;
            zoom: 0.8;
            text-align: left;
        }
        .my_info, .rival_info {
            /* border: 2px solid transparent; */
            padding: 3% 3%;
        }
        .my_info {
            background-color: #eeffee;
        }
        .rival_info {
            background-color: #ffeeee;
        }
        #my-deck .card {
            cursor: pointer;
        }
        #my-deck .card:hover {
            cursor: pointer;
            background-color: khaki;
        }
        .card-hidden {
            display: none;
        }
        .card {
            width: 15%;
            height: 75px;
            margin: 5px;
            display: inline-block;
            position: relative;
            border: 1px solid #333;
            opacity: 1;
            -webkit-transition: opacity 250ms linear;
            transition: opacity 250ms linear;
        }
        .card .card-name {
            font-size: 12px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .card .card-energy, .card-attack, .card-heal, .card-hp {
            font-size: 12px;
            position: absolute;
            border: 1px solid #333;
            width: 15px;
            height: 15px;
            border-radius: 0;
            line-height: 15px;
        }
        .card .card-energy {
            left: 0;
            color: #fff;
            background-color: lightcoral;
        }
        .card .card-attack {
            bottom: 0;
            left: 0;
            color: #fff;
            background-color: red;
        }
        .card .card-heal {
            bottom: 0;
            right: 0;
            color: #fff;
            background-color:goldenrod;
        }
        .card .card-hp {
            color: #fff;
            background-color: violet;
            left: 50%;
            top: 1%;
            width: 80%;
            transform: translate(-50%, 0);
        }
        .possible {
            border: 2px solid red;
            cursor: pointer;
        }
        .selected {
            background-color:khaki
        }
        .used {
            background-color: #ccc;
        }
        #change_turn {
            position: absolute;
            right: 8px;
            margin-top: -32px;
        }
    </style>
</head>
<body>
    <div class="game_play">
        <div class="rival_info">
            <hr>
            <div id="rival-deck-ready"></div>
            <div id="rival-deck"></div>
            <div class="rival-energy">energy : <span id="rival-energy">0</span>/10</div>
            <div id="rival-king"></div>
        </div>
        <!-- <hr> -->
        <div class="my_info">
            <div id="my-king"></div>
            <div class="my-energy">energy : <span id="my-energy">0</span>/10</div>
            <div id="my-deck"></div>
            <div id="my-deck-ready"></div>
            <hr>
        </div>
        <div class="card-hidden">
            <div class="card">
                <div class="card-name"></div>
                <div class="card-energy"></div>
                <div class="card-attack"></div>
                <div class="card-heal"></div>
                <div class="card-hp"></div>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/game/cardroyal/cardroyal.js"></script>
    <script> let cardroyal = new Cardroyal(); </script>
</body>
</html>
