<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
        table {
            border-collapse: collapse;
        }
        td {
            font-family: 'Russo One', sans-serif;
            font-size: 16px;
            border: 1px solid #999;
            width: 20px;
            height: 20px;
            text-align: center;
            background-color: #ccc;
        }
        td.open {
            background-color: #fff;
            font-weight: bold;
        }
        td.mine {
            background-color: #00aa00;
            color: #fff;
            font-weight: bold;
        }
        td.question {
            background-color: #0000ff;
            color: #fff;
            font-weight: bold;
        }
        td.bomb {
            background-color: #ff0000;
            color: #fff;
            font-weight: bold;
        }
        td.blue { color:blue; }
        td.green { color:green; }
        td.red { color:red; }
        td.darkblue { color:darkblue; }
        td.darkred { color:darkred; }
        td.darkcyan { color:darkcyan; }
        td.black { color:black; }
    </style>
</head>
<body>
    <h1>Minesweeper</h1>
    가로 칸 : <input type="number" value="10" id="hor" placeholder="가로" style="width:30px;"><br>
    세로 칸 : <input type="number" value="10" id="ver" placeholder="세로" style="width:30px;"><br>
    지뢰 수 : <input type="number" value="20" id="mine" placeholder="지뢰" style="width:30px;"><br>
    <button id="exec">만들기</button>
    <p></p>
    <table id="table">
        <thead>
            <tr>
                <td>Minesweeper</td>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div id="result"></div>
    <script src="/game/minesweeper.js"></script>
</body>
</html>
