<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
        table {
            border-collapse: collapse;
            display: none;
            -ms-user-select: none; 
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            user-select: none;
        }
        tbody td {
            font-family: 'Russo One', sans-serif;
            font-size: 12px;
            background-image: url(/game/minesweeper/minesweeper.gif);
            background-position: 0 -39px;
            width: 14px;
            height: 14px;
            text-align: center;
            background-color: #ccc;
            color: transparent;
        }
        #timer { background-color: silver; text-align: center; }
        tbody td.open {
            background-position: 0 -23px;
            background-color: #fff;
        }
        tbody td.question {
            background-position: -80px -39px;
            background-color: #0000ff;
        }
        tbody td.bomb {
            background-position: -64px -39px;
            background-color: #ff0000;
        }
        tbody td.bombdeath {
            background-position: -32px -39px;
            background-color: #ff0000;
        }
        tbody td.bombfail {
            background-position: -48px -39px;
            background-color: #ff0000;
        }
        tbody td.mine {
            background-position: -16px -39px;
            background-color: #00aa00;
        }
        tbody td.blue { background-position: -16px -23px; }
        tbody td.green { background-position: -32px -23px; }
        tbody td.red { background-position: -48px -23px; }
        tbody td.darkblue { background-position: -64px -23px; }
        tbody td.darkred { background-position: -80px -23px; }
        tbody td.darkcyan { background-position: -96px -23px; }
        tbody td.black { background-position: -112px -23px; }
    </style>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <h1>Minesweeper</h1>
    가로 칸 : <input type="number" value="10" id="hor" placeholder="가로" style="width:30px;"><p></p>
    세로 칸 : <input type="number" value="10" id="ver" placeholder="세로" style="width:30px;"><p></p>
    지뢰 수 : <input type="number" value="20" id="mine" placeholder="지뢰" style="width:30px;"><p></p>
    <button id="exec">만들기</button>
    <button id="out_btn">나가기</button>
    <p></p>
    <table id="table">
        <thead>
            <tr>
                <td id="timer">0</td>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div id="result"></div>
    <script src="/game/minesweeper/minesweeper.js"></script>
    <script>
    document.querySelector('#out_btn').addEventListener('click', function() {
        self.location.href = '/';
    });
    </script>
</body>
</html>
